.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 30px;
    .hero-text__title {
        font-size: 40px;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        line-height: 1.125;
        margin: 0 0 20px;

        @include media('>=desktop') {
            font-size: 55px;
        }
    }

    .hero-text__subtitle {
        font-size: 22px;
        color: $light-gray;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 0 0 15px;

        &::not(.is-spaced)+.hero-text__subtitle {
            margin-top: -1rem;
        }
    }

    .hero-body {
        display: flex;
        min-height: 585px;
        align-items: center;

        &.top-banner {
            min-height: 200px;

            h1 {
                margin: 0 0 20px;
                color: $white;
            }
        }

        &.about-banner {
            min-height: 370px;
            text-align: center;

            .amb-text {
                float: right;

                h1 {
                    color: $white;
                    font-size: 30px;
                    float: right;
                    line-height: 36px;
                    float: none;
                }

                h2 {
                    &.hero-text__subtitle {
                        font-size: 106px;
                        line-height: 120px;
                        color: $white;
                        text-transform: capitalize;
                        float: none;
                        clear: both;
                        font-family: 'silence_rockenregular';
                    }
                }

                .hero-text__hastag-text {
                    font-family: $base-font-sans-serif;
                    font-size: 16px;
                    text-transform: uppercase;
                    line-height: 34px;
                }
            }

            h1 {
                color: $white;
                font-size: 30px;
                float: right;
                line-height: 36px;

                @include media('>=desktop') {
                    font-size: 67px;
                    line-height: 80px
                }
            }
        }

        &.ambassador {
            min-height: 377px;
            text-align: center;
        }

        &.shipping-banner {
            min-height: 253px;
            text-align: center;

            .hero-text__title {
                float: right;
                font-size: 40px;
                line-height: 46px;
            }
        }

        &.deliver-banner {
            min-height: 435px;
            text-align: center;

            .hero-text {
                float: right;
            }

            .hero-text__title {
                float: none;
                font-size: 32px;
                line-height: 34px;
            }

            .hero-text__subtitle {
                font-family: $base-font-sans-serif;
                font-size: 14px;
                line-height: 20px;
                color: $white;
            }
        }

        &.tc-banner {
            min-height: 183px;

            .hero-text {
                .hero-text__title {
                    font-size: 35px;
                    color: #000;
                    margin: 0;
                }
            }
        }
    }

    &.about-section {
        margin: 0 0 45px;
    }
}


.store-block {
    padding: 10px 0;

    a:hover {
        color: $gray;
    }
}