.block-add_sales {
    padding:40px 0;

    // @include media('>=desktop') {
    //     padding: 0 0 100px;
    // }

    .sales-img {
        position: relative;

        img {
            width: 100%;
        }
    }
}