.block-products-new {
    padding:40px 0px;
    text-align: center;
    background: #F2F3F3;
    margin:30px 0px;
    margin-top:0;
    // @include media('>=desktop') {
    //     padding: 0 0 85px;
    // }
    .block-products-new__select {
        text-transform: uppercase;
        padding: 10px;
        color: $gray;
        min-width: 150px;
    }
    .product {
        .product__addtocart {
            opacity: 0;
        }
        &.active,
        &:hover {
            .product__addtocart {
                opacity: 1;
            }
        }
        .product__img-wrap {
            position: relative;
            overflow: hidden;
            margin: auto;
            &::before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                object-fit: cover;
                object-position: center;
                max-width: 100%;
                transition: .5s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .product__product-details {
            position: relative;
            padding-top:15px;
            .product__title {
                color: $light-gray;
                margin: 0 0 10px;
                font-size:17px;
                line-height:20px;
                @media only screen and (max-width:480px){
                    font-size:15px;
                }
            }
            .product__price-tag {
                display: block;
                font-size: 14px;
                margin: 0 0 10px;
            }
        }
        // &:hover{
        //     .product__product-details {
        //         margin-top:-60px;
        //         z-index:99;
        //     }
        // }
    }
}

.product_collection{
    .fillter_top_div{
        background:#F2F3F3;
        padding-top:50px;
        .follter-main_item-dv{
            display:flex;
            align-items:center;
        }
        .filter-item_div{
            width:50%;
            display: flex;
            align-items: center;
            label{
                margin-right:15px;
                margin-bottom: 0;
            }
            .fillter-item-ul{
                list-style: none;
                padding-left:0;
                margin-bottom: 0;
                border:1px solid rgba(#000, .2);
                border-radius: 7px;
                display:flex;
                overflow: hidden;
                li{
                    // padding:9px 14px;
                    padding:0px;
                    border-right:1px solid rgba(#000, .2);
                    cursor: pointer;
                    height: 32px;
                    position: relative;
                    line-height: 32px;
                    width: 40px;
                    text-align: center;
                    .radio_container{
                        height:32px;
                        width:40px;
                        text-align: center;
                        display: block;
                        line-height: 32px;
                        margin-right:0px;              
                    }
                    input{
                        left:0;
                        position: absolute;
                        opacity: 0;
                        width:100%;
                        top: 0;
                        height: 32px;
                        width:40px;
                        &:checked{
                            ~ .radio_container{
                                background: #000;
                                color:#fff;
                            }
                        }
                        
                    }
                    &:last-child{
                        border-right:none;
                    }
                    &:hover{
                        background:$black;
                        color:#ffffff;
                    }
                }
    
            }
        }
        .fillter_div_main{
            padding:25px 20px;
            background:#ffffff;
            .accordion {
                background:none;
                padding:0;
                color: unset;
                font-size: unset;
                font-weight: unset;
                .fa{
                    margin-right: 1rem;
                }
                .card{
                    border-bottom: 1px solid rgba($black, 0.125);
                    .card-header{
                        background: none;
                        padding-left: 0;
                        padding-right: 0;
                        border-bottom:0;
                        h2{
                            font-size: unset;
                        }
                        .btn-link{
                            padding:0;
                            color:$black;
                            font-weight:600;
                            text-transform: uppercase;
                            font-size:18px;
                        }
                    }
                    .card-body{
                        padding: 0;
                        padding-top:12px;
                        .search-div{
                            position: relative;
                            input{
                                border:1px solid rgba($black, .2);
                                padding:10px 15px;
                                font-size:16px;
                                color:$red;
                                width:100%;
                                border-radius:5px;
                                margin-bottom:25px;
                            }
                            .search-btn{
                                position: absolute;
                                right: 10px;
                                top: 8px;
                                border: none;
                                background: none;
                                font-size: 18px;
                                i{
                                    margin-right:0 !important;
                                }
                            }
                        }
                        .price-filltr{
                            display:flex;
                            margin-bottom:30px;
                            input{
                                width:80px;
                                padding:10px;
                                border-radius:5px;
                                color:$red;
                                font-size:18px;
                                text-align: center;
                                margin-right:10px;
                                border:1px solid rgba(#000, .2);
                            }
                            .price-btn{
                                background:none;
                                border:none;
                                color:$white;
                                background:$red;
                                padding:5px 10px;
                                border-radius:5px;
                            }
                        }
                        .radio_div{
                            display: block;
                            position: relative;
                            padding-left: 40px;
                            margin-bottom: 15px;
                            cursor: pointer;
                            font-size: 18px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                width: 100%;
                                height:100%;
                                left:0;
                                z-index: 99;
                            }
                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px;
                                border:2px solid rgba(#000, 0.125);
                                border-radius: 50%;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                    top: 4px;
                                    left: 4px;
                                    width: 13px;
                                    height: 13px;
                                    border-radius: 50%;
                                    background: #000;
                                }
                            }
                            &:hover{
                                input ~ .checkmark{
                                    border:2px solid rgba(#000, 1);
                                        
                                } 
                            }
                            input:checked ~ .checkmark {
                                background:none;
                                border:2px solid rgba(#000, 1);
                              }
                            input:checked ~ .checkmark:after {
                                display: block;
                            }
                            
                        }
                        .checkbox_div{
                            display: block;
                            position: relative;
                            padding-left: 40px;
                            margin-bottom: 15px;
                            cursor: pointer;
                            font-size: 18px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                width: 100%;
                                height:100%;
                                left:0;
                                z-index: 99;
                            }
                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px;
                                border:2px solid rgba(#000, 0.125);
                                border-radius: 5px;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 7px;
                                    top: 1px;
                                    width: 8px;
                                    height: 15px;
                                    border: solid white;
                                    border-width: 0 3px 3px 0;
                                    transform: rotate(45deg);
                                }
                            }
                            &:hover{
                                input ~ .checkmark{
                                    border:2px solid rgba(#000, 1);
                                        
                                } 
                            }
                            input:checked ~ .checkmark {
                                background:$red;
                                border:2px solid rgba(#000, 1);
                              }
                            input:checked ~ .checkmark:after {
                                display: block;
                            }
                            
                        }
                    }
                }
            }
        }
        .fillter-div{
            label{
                margin-right:5px;
            }
            .select-fillter{
                border:none;
                padding:8px 20px;
                border-radius:30px;
            }
        }
        .grid-fillter{
            list-style:none;
            padding-left: 0;
            margin-bottom: 0;
            text-align: right;
            li{
                display: inline-block;
                margin:0 10px;
                cursor: pointer;
                a{
                img{
                    width:30px;
                    opacity:.2;
                }
                &:hover{
                    img{
                        opacity:1;
                    }
                }
            }
            
            }
        }
    }
    .block-products-new{
        padding:50px 0;
        .accordion-container{
            width:95%;
            padding:15px;
            background:#fff;
            .set {
                a{
                    display: block;
                    padding: 10px 15px;
                    text-decoration: none;
                    color: #555;
                    font-weight: 600;
                    font-size:18px;
                    border-bottom: 1px solid #ddd;
                    -webkit-transition:all 0.2s linear;
                    -moz-transition:all 0.2s linear;
                    transition:all 0.2s linear;
                    text-align:left;
                    text-transform:uppercase;
                }
                i{
                    float: right;
                    margin-top: 2px;
                }
                // .active{
                //     background-color:#3399cc;
                //     color: #fff;
                // }
            }
            .content{
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                padding-top:15px;
                .radio_div{
                    display: block;
                    position: relative;
                    padding-left: 40px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    font-size: 16px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    text-align:left;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: 100%;
                        height:100%;
                        left:0;
                        z-index: 99;
                    }
                    .check {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        border:2px solid rgba(#000, 0.125);
                        border-radius: 50%;
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                            top: 3px;
                            left: 3px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #000;
                        }
                    }
                    &:hover{
                        input ~ .check{
                            border:2px solid rgba(#000, 1);
                                
                        } 
                    }
                    input:checked ~ .check {
                        background:none;
                        border:2px solid rgba(#000, 1);
                      }
                    input:checked ~ .check:after {
                        display: block;
                    }
                    
                }
                .checkbox_div{
                    display: block;
                    position: relative;
                    padding-left: 40px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    font-size: 16px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    text-align:left;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: 100%;
                        height:100%;
                        left:0;
                        z-index: 99;
                    }
                    .check {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        border:2px solid rgba(#000, 0.125);
                        border-radius: 5px;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 5px;
                            top: 0px;
                            width: 7px;
                            height: 12px;
                            border: solid white;
                            border-width: 0 2px 2px 0;
                            transform: rotateZ(45deg);
                        }
                    }
                    &:hover{
                        input ~ .check{
                            border:2px solid rgba(#000, 1);
                                
                        } 
                    }
                    input:checked ~ .check {
                        background:#000;
                        border:2px solid rgba(#000, 1);
                      }
                    input:checked ~ .check:after {
                        display: block;
                    }
                    
                }
            }
        }
    }
    .btn-show-more{
        background:#000;
        color:#fff;
        padding:10px 15px;
    }
}


@media only screen and ( max-width: 767px ){
    .block-products-new{
        .product{
            .product__product-details{
                .swatch{
                    display:none;
                }
            }
        }
    }

}