body {
    color: $base-text-color;
    background: $base-background-color;
    // font: #{$base-font-size}/#{$base-line-height} $base-font-family;
    // font-family: 'bebas_neueregular', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;
    min-width: $base-min-width;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.image-content {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}
.button {
    border-radius: 0;
    color: $black;
    font-size: 22px;
    line-height: 24px;
    padding: 15px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-width: 2px;
    height: auto;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.button--small {
    background: $black;
    color: $white;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid $black;
    font-family: $base-font-sans-serif;

    &:hover {
        background: $white;
        color: $black;
    }
}
.button--medium {
    background: $black;
    color: $white;
    font-size: 15px;
    line-height: 18px;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid $black;
    font-family: $base-font-sans-serif;

    &:hover {
        background: $white;
        color: $black;
    }
}
.button--border {
    background: transparent;
    border-color: $black;
}

.button--border:hover {
    background: $black;
    color: $white;
    border-color: $black;
}

.button--black {
    background: $black;
    border-color: $black;
    color: $white;

    &:hover {
        background: $white;
        color: $black;
    }
}

.button--white {
    border-color: $white;
    color: $white;
}

.button--white:hover {
    background: $white;
    border-color: $white;
    color: $black;
}

.has-background-black a {
    color: $white;
}

.has-background-black .btn-arrow {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    position: relative;
}

.has-background-black .btn-arrow:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    // background: url('../images/arrow.png') no-repeat;
    width: 11px;
    height: 5px;
    transform: translateY(-50%);
}

.container {
    padding: 0 20px;

    @include media('>=desktop') {
        padding: 0 70px;
    }

    @include media('>=1472px') {
        max-width: 1349px;
    }
}

.swatch-2{
    display:none !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 1em;
    letter-spacing: 1px;
    font-weight: 800;
}

p {
    margin: 0 0 1.5em;
}

h2 {
    font-size: 35px;

}


h3 {
    font-size: 20px;
}

.shop-now {
    font-size: 12px;
    line-height: 14px;
    color: $white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $base-font-sans-serif;
}

.heading h2 {
    padding-bottom: 10px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 1px;
        background: $black;
        width: 121px;
        transform: translateX(-50%);
    }
}