#footer {
    padding: 50px 0;
    border-top: 1px solid $footer-border;

    @include media('>=desktop') {
        padding: 80px 0;
    }
}

.footer-logo {
    margin-bottom: 30px;

    @include media('>=desktop') {
        float: left;
    }

    .footer-logo__link {
        display: inline-block;
    }

    .footer-logo__content {
        vertical-align: top;
    }
}



.footer-bottom {
    margin-bottom: 40px;

    .social-networks ul {
        display: flex;

        li {
            &+li {
                margin-left: 30px;
            }

            a {
                display: block;
                text-indent: -9999px;
                overflow: hidden;
                font-size: 0;

                &:hover {
                    opacity: 0.7;
                }

                &:before {
                    content: "";
                    display: block;
                    // background: url('../images/social-icons.png') no-repeat;
                }

                &.facebook {
                    &:before {
                        background-position: 0 0;
                        width: 11px;
                        height: 22px;
                    }
                }

                &.twitter {
                    &:before {
                        background-position: -49px -2px;
                        width: 22px;
                        height: 19px;
                    }
                }

                &.instagram {
                    &:before {
                        background-position: -104px -1px;
                        width: 20px;
                        height: 21px;
                    }
                }
            }
        }
    }
}


.footer-nav {
    .footer-menu {
        overflow: hidden;

        .footer-menu__title {
            color: $black;
            font-size: 18px;
        }

        .footer-menu__items {
            overflow: hidden;

            .footer-menu__item {
                display: block;

                .footer-menu__link {
                    text-transform: uppercase;
                    color: $gray;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    color: $black;
                    transition: 0.3s all linear;

                    &:hover {
                        color: $gray;
                    }
                }
            }
        }

    }
}



.newsletter-block {
    .newsletter-block__title {
        color: $black;
        font-size: 24px;
        line-height: 30px;
        display: block;
        text-align: center;
        letter-spacing: 2px;
    }

    .newsletter-block__wrap {
        width: 100%;

        @include media('>=desktop') {
            max-width: 420px;
        }
    }
}

.subscribe-form {
    margin-bottom: 30px;
    position: relative;

    input[type="email"] {
        border: 1px solid $white;
        background: $input-bg;
        height: 55px;
        outline: none;
        color: $gray;
        padding: 8px 20px;
        width: 100%;
        letter-spacing: 1px;
        font-family: $base-font-serif;
        text-align: center;

        @include placeholder {
            color: $gray;
        }

        @include media('>=tablet') {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .subscribe-form__submit-wrap {
        text-align: center;

        input[type="submit"] {
            background: transparent;
            border: 0;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 0;
            border-bottom: 1px solid $black;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: $base-font-sans-serif;
            cursor: pointer;
        }
    }
}

.footer-text {
    color: $gray;

    .social-networks {
        .social-networks__items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 20px;
            justify-content: center;
            .social-networks__item {
                &+.social-networks__item {
                    margin-left: 30px;
                    @media only screen and (max-width:480px){
                        margin-left:22px;
                    }
                    .icon{
                        @media only screen and (max-width:480px){
                            height: 1rem;
                            width: 1rem;
                        }
                    }
                }

                .social-networks__link {
                    display: block;
                    text-indent: -9999px;
                    overflow: hidden;
                    font-size: 0;

                    &:hover {
                        opacity: 0.7;
                    }

                    &:before {
                        content: "";
                        display: block;
                        // background: url('../images/social-icons.png') no-repeat;
                    }

                    &.facebook {
                        &:before {
                            background-position: 0 0;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &.twitter {
                        &:before {
                            background-position: -34px 0px;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &.instagram {
                        &:before {
                            background-position: -69px 0px;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &.pintrest {
                        &:before {
                            background-position: -106px 0px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }

        .social-networks__copyright {
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }


}