.header-top {
	padding: 12px 0;
	font-size: 10px;
	// font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	// letter-spacing: 1px;
	.text {
		@include media('>=desktop') {
			padding-right: 140px;
		}
	}
	.text__content {
		margin: 0;
	}
	.header-top-menu {
		@include media('>=desktop') {
			position: absolute;
			top: 0;
			right: 30px;
		}
		ul {
			display: flex;
			justify-content: center;
			@include media('>=desktop') {
				justify-content: flex-end;
			}
			li {
				padding: 0 10px;
				line-height: 1;
				&+li {
					border-left: 1px solid $white;
				}
				a {
					&:hover {
						color: $gray;
					}
				}
			}
		}
	}
}

.header-bottom {
	// padding: 7px 0;
	position: relative;
	.container {
		@include media('>=desktop') {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}
}

.logo-slider {
	display: none !important;
	margin-top:15px !important;
	.txt-center {
		text-align: center;
		margin-bottom:0;
	}
	.slick-arrow {
		position: absolute;
		z-index: 99;
		top: 40%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		min-width: 0;
		padding: 0;
		font-size: 0;
		line-height: normal;
		background: none;
		width: 30px;
		height: 30px;
		background-color: transparent;
		cursor: pointer;
	}
	.slick-next {
		right: 0px;
		background: rgba(255, 255, 255, 0.5);
		border: none;
		height: 30px;
		width: 30px;
		line-height: 30px;
		&::before {
			content: "\f105";
			font-family: FontAwesome;
			font-size: 23px;
			line-height: 30px;
			color: $black;
		}
	}
	.slick-prev {
		left: 0px;
		z-index: 99;
		background: rgba(255, 255, 255, 0.5);
		border: none;
		height: 30px;
		width: 30px;
		line-height: 30px;
		&::before {
			content: "\f104";
			font-family: FontAwesome;
			font-size: 23px;
			line-height: 30px;
			color: $black;
		}
	}
	.col-img {
		position: relative;
		overflow: hidden;
		margin: auto;
		border-radius: 50%;
		&::before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			object-fit: cover;
			object-position: center;
			max-width: 100%;
		}
	}
	@media only screen and (max-width: 1024px) {
		display: block !important;
	}
}

.logo {
	width: 160px;
	margin: auto;
	@include media('>=desktop') {
		width: 25%;
		padding-right: 40px;
	}
}

#nav {
	@include media('>=desktop') {
		width: 75%;
		padding-right: 80px;
	}
	.primary-navigation {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: $white;
		padding: 20px;
		right: 0;
		z-index: 999;
		@include media('>=desktop') {
			padding: 0;
			display: block;
			position: static;
		}
		.primary-navigation__list {
			@include media('>=desktop') {
				display: flex;
				justify-content: center;
				font-size: 18px;
				line-height: 20px;
				letter-spacing: 1px;
			}
			.primary-navigation__item {
				margin-bottom: 10px;
				padding:30px 0px;
				@include media('>=desktop') {
					margin: 0;
				}
				@media only screen and (max-width:767px){
					padding:10px 0;
				}
				&+.primary-navigation__item {
					@include media('>=desktop') {
						margin-left: 30px;
					}
					@include media('>=widescreen') {
						margin-left: 40px;
					}
				}
				.primary-navigation_link {
					color: $mid-gray;
					text-transform: uppercase;
					.down-arrow {
						// background: url('../images/arrow-menu.png') no-repeat;
						display: inline-block;
						width: 12px;
						height: 10px;
						overflow: hidden;
						text-indent: -999px;
					}
					&:hover {
						color: $gray;
					}
				}
			}
		}
	}
}

.nav-opener {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 36px;
	height: 30px;
	@include media('>=desktop') {
		display: none;
	}
	&:before,
	&:after,
	span {
		position: absolute;
		top: 10px;
		left: 0;
		height: 3px;
		width: 100%;
		background: $black;
		text-indent: -9999px;
		overflow: hidden;
		transition: transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
	}
	&:before,
	&:after {
		content: "";
		top: 0;
	}
	&:after {
		top: 20px;
	}
	&:hover {
		&:before,
		&:after,
		span {
			background: $gray;
		}
	}
}

.cart-block {
	position: absolute;
	top: 19px;
	right: 85px;
	display: flex;
	@include media('>=desktop') {
		right: 42px;
		top: 50%;
		transform: translateY(-50%);
	}
	@media only screen and (max-width: 455px) {
		right: 15px;
	}
	a {
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		&:hover {
			opacity: 0.7;
		}
		&+a {
			margin-left: 19px;
		}
		&.cart-block__user {
			background: url('https://cdn.shopify.com/s/files/1/0242/4229/0740/files/customer-icon.png?4665') no-repeat;
			background-size: 18px 18px;
			width: 18px;
			height: 18px;
		}
		&.cart-block__cart {
			background: url('https://cdn.shopify.com/s/files/1/0242/4229/0740/files/cart-icon.png?4665') no-repeat;
			background-size: 22px 18px;
			width: 22px;
			height: 18px;
		}
		&.cart-block__search {
			background: url('https://cdn.shopify.com/s/files/1/0273/4928/6960/files/search.png?v=1576238596') no-repeat;
			background-size: 18px 18px;
			width: 22px;
			height: 22px;
			@media only screen and (max-width:480px){
				display:none;
			}
		}
	}
}

.nav-active {
	.nav-opener {
		&:before,
		&:after {
			top: 13px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		span {
			opacity: 0;
		}
	}
}