.instagram-block {
    padding:40px 0;
    background: #F2F3F3;
    margin-top: 30px;
    padding-bottom:50px;
    // @include media('>=desktop') {
    //     padding: 0 0 60px;
    // }

    h2 {
        margin: 0 0 5px;
    }

    h4 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom:40px;
    }

    img {
        width: 100%;
    }
    .insta-img{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::before{
            content:'';
            padding-top:100%;
            display:block;
        }
        img{
            position: absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin:auto;
            width:100%;
            object-fit: cover;
            object-position: center;
        }
        &::after{
            content: '\f16d';
            font-family: FontAwesome;
            color:#fff;
            font-size: 30px;
            align-items: center;
            justify-content: center;
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            margin:auto;
            width:100%;
            height:100%;
            background:rgba(#000000,.5 );
            z-index:99;
            display:none;
            transition: .7s;
        }
        &:hover{
            &::after{
                display: flex;
            }
        }
    }
}