.product-collections {
    overflow: hidden;
    padding: 40px 0px;
    padding-top: 30px;

    // @include media('>=desktop') {
    //     padding: 0 0 72px;
    // }

    .categories {
        position: relative;

        .categories__image-wrap {
            position: relative;
            overflow: hidden;
            &::before{
                content:"";
                width:100%;
                padding-top:142%;
                display: block;
            }
            img {
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                margin: auto;
                object-fit: cover;
                object-position: center;
                width: 100%;
                transition: 0.5s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }

        .categories__wrap {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            margin: 30px 0 0;
            text-align: center;

            .categories__title {
                color: $white;
                margin: 0;
                font-size: 22px;
                line-height: 24px;

            }

            .categories__shop-now {
                margin: 0 0 5px;
                color: $white;
                font-size: 12px;
                line-height: 14px;
                font-family: $base-font-sans-serif;
                text-transform: uppercase;
            }
        }
    }
}