#tab_container .container_item {
  display: none;
  &.is-active{
  	display: block;
  }
}

.product-listing{

	ul.tab-list{
		background: $black;
		padding: 15px 0;
		.tab-list__item{
			&.is-active{
				.tab-list__link{
					border-bottom-color: $white;
					color:$white;
					    border-bottom-width: 2px;
				}
			}
			.tab-list__link{
				color:$white;
				border-bottom-color: $black;
			}
		}
	}
}
.pagination{
	.pagination__list{
		.pagination__item{
			.pagination__link{
				border:1px solid $black;
				background: $white;
				color: $pink;

				&.active{
					background: $black;
					color: $white;
					border:1px solid $white;
				}
			}
		}
	}
}