.product-breadcrumb {
    background: $black;
    color: $white;
    padding: 15px 0;
    margin: 0 0 30px;

    @include media('>=desktop') {
        padding: 20p 0px;
    }

    .breadcrumb .breadcrumb__link {
        color: $white;
    }

    .breadcrumb li.breadcrumb__item.is-active .breadcrumb__link {
        color: $white;
    }

    .breadcrumb.has-succeeds-separator li+li::before {
        content: "";
        // background: url('../images/breadcrumb-arrow.png') no-repeat;
        width: 8px;
        height: 8px;
        background-size: 8px 8px;
    }
}

.product-block {
    margin: 0 0 30px;
    .reverse-column {
        @include media('<=tablet') {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .larg-img{
        .slick-arrow{
            background:#F2F3F3;
            width:30px;
            height:30px;
            border-radius:50%;
            text-align: center;
        }
        .slick-next{
            right:0;
            &::before{
                content:"\f105";
                font-family: FontAwesome;
                color:#000;
                font-size:22px;
                line-height:30px;
            }
        }
        .slick-prev{
            left:0;
            z-index:99;
            &::before{
                content:"\f104";
                font-family: FontAwesome;
                color:#000;
                font-size:25px;
                line-height:30px;
            }
        }
    }
    .thumbnails {
        @media only screen and (max-width:767px){
            display:none;
        }
        ul {
            li {
                @include media('<=tablet') {
                    display: inline-block;
                }

                margin: 0 0 10px;
                opacity: 0.6;

                &.active {
                    opacity: 1;
                }
            }
        }
    }
}
.product-guide {
    @include media('>=desktop') {
        padding-left: 60px;
    }

    h2 {
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 32px;
        margin-bottom:15px !important;
        @include media('<=tablet') {
            text-align: center;
            ;
        }
    }

    .product-guide__price {
        font-size: 22px;
        line-height: 28px;
        font-weight:550;
        margin:15px 0;

        @include media('<=tablet') {
            text-align: center;
            ;
        }
    }
    .color_label{
        p{
            margin-bottom:10px;
        }
    }
    .swatch{
        margin-top:0px;
        margin-bottom:15px;
    }
    .size_label{
        p{
            margin-bottom:10px;
        }
    }
.selector-wrapper{
    display: none;
}
    .product-guide__price-details {
        width: 50%;

        @include media('<=tablet') {
            margin: 0 auto;
        }
.product-features{
  .product-features__list {
            margin: 0 0 10px;

           .product-features__item {
                display: block;
                border-top: 1px solid $light-pink;
                padding: 15px 10px;

                label {
                    color: $light-gray;
                }

                .product-guide__qty-list {
                    float: right;
                    font-family: $base-font-serif;

                    button {
                        background: none;
                        border: none;
                        font-family: $base-font-serif;
                    }

                    .product-guide__qty {
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        border: 0;
                        font-size: 18px;
                        font-family: $base-font-serif;
                        color: $dark-gray;
                    }

                    input.product-guide__qtyplus {
                        width: 25px;
                        height: 25px;
                        color: $black;
                        background: transparent;
                        border: none;
                    }

                    input.product-guide__qtyminus {
                        width: 25px;
                        color: $black;
                        height: 25px;
                        background: transparent;
                        border: none;
                    }
                }

                .product-guide__select-style {
                    border: 1px solid #fff;
                    width: 65px;
                    border-radius: 0px;
                    overflow: hidden;
                    float: right;
                    // background: #fff url("../images/arrow-down.png") no-repeat 90% 50%;

                    select {
                        padding: 5px 8px;
                        width: 130%;
                        border: none;
                        box-shadow: none;
                        font-size: 18px;
                        line-height: 20px;
                        font-family: $base-font-serif;
                        background: transparent;
                        background-image: none;
                        -webkit-appearance: none;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }  
}
        

        .btn-col {
            width: 100%;

            a {
                display: block;

                &.btn-col__wishlist {
                    width: 100%;
                    padding: 10px;
                    font-size: 12px;
                    line-height: 20px;
                    font-family: $base-font-sans-serif;
                    color: $gray;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
    .product-qty {
        label {
            color:#000;
            font-weight: 400;
        }
        .pro-qty-div {
            display: flex;
            align-items: center;
            margin:10px 0;
            .qty-btn {
                border: none;
                height: 45px;
                width: 40px;
                font-size: 20px;
                font-weight: 400;
                color: #000;
                outline: none;
                background:#F2F3F3;
            }
            .minus-btn {
                border-right: none;
                border-radius:30px 0 0 30px;
            }
            .plus-btn {
                border-left: none;
                border-radius:0 30px 30px 0;
            }
            .qty-input {
                border: none;
                border-left: none;
                border-right: none;
                background:#F2F3F3;
                height: 45px;
                width: 50px;
                font-size: 18px;
                font-weight: 400;
                line-height: 45px;
                color:#000;
                outline: none;
                text-align:center;
            }
        }
        
            
    }
    .product-form__item{
        button {
            background: #000;
            color: #fff;
            padding: 10px 20px;
            width: 73%;
            font-weight: 400;
            outline: none;
            border: 1px solid #000;
            height: 45px;
            margin-top:10px;
            border-radius: 30px;
            span{
                color:#fff;
            }
            &:hover {
                background: #252932;
                border: 1px solid #252932;
            }
        }
    }

}
.trusted_briges{
    padding-top:40px;
    img{
        width:100%;
    }
}
.accordion {
    .accordion__list {
        .accordion__item{
            padding: 15px 5px;
            border-bottom: 1px solid $light-pink;

            .accordion__link {
                color: $gray;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .plus {
                // display: inline-block;
                float: right;
                font-family: $base-font-sans-serif;
            }
        }
    }
}

.customer-reviews {
    margin: 0 0 115px;
}