.color_slider_div{
    padding:40px 0;
    border-bottom: 1px solid #d9d9d9;
    .main_button_div{
        .main_button_ul{
            text-align:center;
            li{
                display:inline-block;
                color:#000;
                padding:8px 15px;
                margin-right:15px;
                cursor:pointer;
                position: relative;
                input{
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    opacity: 0;
                }
                &:last-child{
                    margin-right:0;
                }
            }
            .active_color{
                color:#fff;
                background: #000;                
            }
        }
        .color_slider_eliment{
            width:80%;
            margin:auto;
            margin-top:40px !important;
            .div_color_box{
                width:50px !important;
                height:50px;
                border-radius:50%;
                display:flex !important;
                align-items: center;
                justify-content: center;
                margin:auto;
                cursor:pointer;
                .color_swatch{
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    position:relative;
                    overflow: hidden;
                    margin:auto;
                input{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
                    img{
                        width:100%;
                        height:100%;
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        margin:auto;
                        object-fit: cover;
                        object-position: center;
                    }
                }                
            }
            .selected{
                border:1px solid #000;
            }
            .slick-prev{
                height:unset;
                width:unset;
                &::before{
                    content:'\f104';
                    font-family: 'FontAwesome';
                    font-size: 35px;
                    color: #000;
                    opacity:1;
                }
            }
            .slick-next{
                height:unset;
                width:unset;
                &::before{
                    content:'\f105';
                    font-family: 'FontAwesome';
                    font-size: 35px;
                    color: #000;
                    opacity:1;
                }
            }
        }
    }
        

}
.main_product_div{
    padding:40px 0;
    .block-products-new{
        background:#fff;
    }
}