.custome_tab{
    padding:40px 0;
.tabs{
    margin: 0px 0 20px;
    padding: 0px;
    list-style: none;
    display:block;
    text-align: center;
    width:100%;
    li{
        color: #000;
        display: inline-block;
        padding: 8px 15px;
        cursor: pointer;
        border:1px solid #000;
        border-radius:40px;
        margin:0 10px;
        min-width:150px;
    }
    .current{
        background: #000;
        color: #fff;
    }
}

.tab-content{
    display: none;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
}