.image-text {
    // margin: 0 0 30px;

    @include media('>=desktop') {
        padding: 0 0 50px;
    }

    .text-with-background {
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
        background-position: center;
        // margin-bottom: 50px;

        .container {
            min-height: 510px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .text {
            max-width: 500px;

            .text__h2 {
                font-size: 30px;
                line-height: 1;
                margin: 0 0 15px;
                letter-spacing: 2px;

                @include media('>=desktop') {
                    font-size: 35px;
                }
            }

            .text__h3 {
                font-size: 36px;
                line-height: 1;
                letter-spacing: 8px;
                margin: 0 0 15px;
                letter-spacing: 5px;
                text-shadow: 5px 0px 0px #000;

                @include media('>=desktop') {
                    font-size: 90px;
                }
            }

            .text__h4 {
                font-size: 20px;
                line-height: 1;
                margin: 0 0 25px;

                @include media('>=desktop') {
                    font-size: 27px;
                }
            }
        }

        .heading h2 {
            font-size: 25px;
            font-family: 'Interstate', Sans-serif;
        }
    }
}

@media only screen and ( max-width: 480px ){
    .image-text{
        .text-with-background{
            .container{
                min-height: 320px;
            }
            .text{
                margin:auto;
            }
        }
    }

}