.text-block-rating {
    padding: 0 0 30px;

    @include media('>=desktop') {
        padding: 0 0 115px;
    }

    text-align: center;

    .rating {
        width: 650px;
        max-width: 100%;
        margin: 0 auto;

        &.subtitle {
            font-size: 22px;
            color: $dark-gray;
            font-weight: 500;
            letter-spacing: 2px;

            &::not(.is-spaced)+.subtitle {
                margin-top: -1rem;
            }
        }
    }

    .rating__stars {
        @extend %listreset;
        margin: 0 0 25px;

        li {
            display: inline-block;
            margin: 0 2px;

            a {
                display: inline-block;
            }
        }
    }

}