/* Panel */
.c-offcanvas {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    max-width: 380px;
    height: 100%;
    visibility: hidden;
    background-color: $color-white;
    backface-visibility: hidden;
    transition: transform 0.5s ease, visibility 0.5s ease;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    opacity: 1;
}
.c-offcanvas.offcanvas-open {
    overflow-x: hidden;
    visibility: visible;
    transform: translate(0, 0);
    
    
}

.c-cartCount__header{
    padding:20px 0 0 0;
}   

.c-cartCount__heading{
    margin:0;
}


.c-offcanvas__close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    line-height: 44px;
    text-align: center;
    font-size: 28px;
    color: #000;
    cursor: pointer;

    
}

.c-offcanvas__close:--enter {
    background-color: transparent;
    outline: none;
}

.c-offcanvas--left {
    left: 0;
    padding: 32px 32px 0 32px;
    transform: translateX(-300px);
}

.c-offcanvas--right {
    right: 0;
    transform: translateX(375px);
    max-width: 375px;
}

/* Overlay */
.c-offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    backface-visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.c-offcanvas-overlay span{
    display: none;
}

.offcanvas-open .c-offcanvas-overlay{
    opacity: .7;
    visibility: visible;
    z-index: 99999;
}

.c-cartCount {
    background-color: #fff;
    padding: 27px 23px 21px 38px;
    margin: 0 -30px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}


.c-cartCount__close {
    background: transparent;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 0 0 5px 0;
}



.c-cart__emptyText {
    margin-top: 0;
    text-align: center;
    padding: 30px;
    background: #fff;
}

.c-cart--hasGift {
    font-size: 12px;
    word-spacing: -1.4px;
}

.cartProduct__slider {
    margin-bottom: 80px;
    padding-bottom: 10px;
}

.c-drawerProduct__block {
    padding: 0 40px;
}

.c-drawerProduct__media {
    float: left;
    width: 117px;
    padding-top: 12px;
}

.c-drawerProduct__content {
    overflow: hidden;
}

.c-drawerProduct__img {
    max-width: 56px;
    margin: auto;
}

.c-drawerProduct__title {
    font-size: 13px;
    padding-top: 3px;
}

.c-drawerProduct__btn {
    padding-top: 6px;
    padding-right: 20px;
}

.c-drawerProduct__copy {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.c-drawerProduct__atc {
    display: block;
    width: 100%;
    font-size: 13px;
    letter-spacing: 1.5px;
    height: 40px;
    padding: 0;
}
.paypal-button.paypal-button-color-gold {
    background-color: transparent;
    border:1px solid #d4d3cf;
}
.additional-checkout-button:last-child {
    margin-bottom: 10px !important;
}

.cartProduct__title {
    text-align: center;
}


.c-cart__product {
    margin:0;
    padding: 0 10px;
}

.c-cart__row {
    display: flex;
    padding:20px;
    border-bottom: 1px solid $black;
}

.c-cart__itemImageBox {
    flex: 30;
    max-width: 65px;
}

.c-cart__itemImageBox img{
    max-width:65px;
}


.c-cart__itemInfoBox {
    position: relative;
    padding:0 0 0 15px;
    flex: 70;
}

.c-cart__itemRemove {
    cursor: pointer;
}


.c-cart__itemInfoContainer {
    padding-right: 20px;
    width:100%;
}


.c-cart__itemName {
    display: block;
    letter-spacing: 1px;
    padding:0 70px 5px 0;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    color:#21211E;
}

.c-cart__itemMeta {
    display: block;
    font-size: 13px;
    line-height: 14px;
    margin-top: 5px;
}

.c-cart__itemLowerBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0;
}

.c-cart__itemPriceBox {
    line-height: 12px;
    margin: 0 0 0px;
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
    width: 60px;
}

.c-cart__itemQuantityBox{
    z-index: 20;
    width: 100px;
    border: 1px solid $black;
    display: flex;
    text-align: center;
    height: 42px;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 35px 0 0;
}

.c-cart__itemPrice {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.7px;
    color:$black;
}

.c-cart__itemQuantityBox a,
.c-cart__itemQuantityBox span{
    width: 33.333%;
}

.c-cart__itemQuantityBox span{
    color:$black;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.c-cart__itemQuantityBox .c-drawer__minus{
    top:-3px;
}

.c-cart__itemQuantityBox .c-drawer__plus{
    top:2px;
}

.c-cart__itemQuantityBox svg{
    fill: #d3d2d0;
}

.c-cart__itemPrice--noSale {
    font-size: 18px;

}



.c-cart__itemDiscount {
    font-size: 11px;
    font-weight: 800;
}

.c-cart__footer {
    clear:both;
    padding:0 0 9px 0;
    /* margin-bottom: 35px; */
}


.c-drawer__header{
    background: $gray;
    padding:23px 0;
}

.c-drawer__title{
       text-align: center;
    font-size: 24px;
    line-height: normal;
    margin: 0;
    padding: 0;
 
}
.c-cart__productList {
    height: calc(100vh - 300px);
    overflow: auto;
}

.c-drawer__subTotal {
    display: block;
    padding:20px 30px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.c-drawer__subTotalLeft {
    padding-right: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    .c-cart__footerPriceBox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.c-drawer__subTotalRight {
    flex-grow: 1;
    text-align: center;
}

.c-cart__total{
    color:$black;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.c-drawer__subTotalTitle{
    line-height: 16px;
    color: $black;
    margin: 0 10px 0 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.c-drawer__subTotalRight .btn {
    width: 100%;
    border-width: 1px;
    max-width: 174px;
}



.c-cart__footer{
    padding:0 10px;
}

.c-cart__additionalButtonsText{
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 25px 0;
}

.c-cart__additionalButtons{
    text-align: center;
}
.cart__flyout-shipping {
    border-bottom: 1px solid #eee;
    padding: 0px 0 20px;
    text-align: center;
    flex: none;
    .shipping__needed {
        background-color: #008140;
    }
}
[data-needed-text],
[data-unlock-text] {
    color: #525252;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    font-family: "sharp_sans";
    max-width: calc(100% - 60px);
    margin: auto;
}

// .cart__flyout-shipping {
//     border-bottom: 1px solid #eee;
//     border-top: 1px solid #eee;
//     padding: 20px 0;
//     text-align: center;
//     flex: none;
//     .cart__flyout-shipping-text {
//         color: #525252;
//         font-size: 14px;
//         font-weight: 400;
//         letter-spacing: 0.42px;
//         font-family: "sharp_sans";
//         max-width: calc(100% - 60px);
//         margin: auto;
//     }
//     .cart__flyout-progress-bar {
//         height: 9px;
//         margin: 0 auto;
//         max-width: calc(100% - 60px);
//         background-color: #EDEDED;
//         margin-top: 15px;
//         border-radius: 10px;
//         position: relative;
//         overflow: hidden;
//         span {
//             position: absolute;
//             left: 0;
//             top: 0;
//             height: 100%;
//             width: 0;
//             transition: width 0.75s;
//             border-radius: 10px;
//             background-color: #008140;
//         }
//     }
// }





.filtters-div {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px !important;
}

.filtters-div .fillter-by-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtters-div .fillter-by-div span {
    margin-right: 15px;
}

.category-fillter {
    position: relative;
}

.filter-header {
    font-weight: 600px;
    font-size: 16px;
    margin-bottom: 0;
}

.filter-header i {
    margin-left: 5px;
}

.filter-div-collection {
    cursor: pointer;
    text-transform: uppercase;
    padding: 9px;
    color: #666 !important;
    min-width: 150px;
    border: 1px solid rgb(169, 169, 169);
    margin-right: 15px;
}

.filter-div-collection:hover .filter-ul-collection {
    display: block;
}

.filter-ul-collection {
    padding-left: 0px;
    width: max-content;
    background: #fff;
    padding: 10px 15px;
    box-shadow: 0px 0px 6px rgba(112, 112, 112, .5);
    border-radius: 5px;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 4;
    display: none;
}

.filter-li-collection {
    padding: 5px 0px;
    text-align: left;
}

/*===== custome-check-box ==================*/
/* Customize the label (the container) */
.ner {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.ner input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #1a1a1a;
}

/* On mouse-over, add a grey background color */
.ner:hover input~.checkmark {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

/* When the checkbox is checked, add a blue background */
.ner input:checked~.checkmark {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ner input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.ner .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}