.c-navDrawer{
	@include fixed(top 0 bottom 0 left -100%);
    z-index: 100;
	width: 100%;
	max-width: 220px;
    background-color: $color-white;
    transition: left .3s;

    &.is-open{
    	left: 0;
    }
}

.c-navDrawer__content{
    padding: 10px 15px;

    .c-currencyPicker{
        margin: 15px 0 20px 0;

        select{
            width:100%;
        }
    }
}

.c-navDrawer__close{
    @include absolute (top 18px right 10px);
}

.c-navDrawer__scroll{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 150px);
}

.c-navDrawer__item{
    text-align:center;
    display: table;
    margin: 0 auto 20px;
}

.c-navDrawer__itemImage{
    max-width: 50px;
}

.c-navDrawer__itemName{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 700;
}

.c-navDrawerSocial__list{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    a{
        margin: 0 10px;
    }
}