  #nav {
    @include media('>=desktop') {
      width: 73%;
      padding-right: 80px;
    }
    .drop {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 999;
      display: none;
      background: $white;
      padding: 20px;
      @include media('>=desktop') {
        position: static;
        padding: 0;
        display: block;
      }
      >ul {
        @extend %listreset;
        @include media('>=desktop') {
          display: flex;
          justify-content: center;
        }
        >li {
          margin-bottom: 10px;
          border-bottom: 1px solid $gray;
          @include media('>=desktop') {
            margin: 0;
            border: none;
          }
          &+li {
            @include media('>=desktop') {
              margin-left: 30px;
            }
            @include media('>=desktop') {
              margin-left: 38px;
            }
          }
          &.has-dropdown {
            &:hover {
              >a {
                position: relative;
                &::before {
                  @include media('>=desktop') {
                    content: "";
                    position: absolute;
                    left: -20px;
                    right: -20px;
                    bottom: -44px;
                    background: transparent;
                    height: 47px;
                  }
                }
              }
            }
          }
          &:hover {
            .mega-menu {
              @include media('>=desktop') {
                display: block;
                z-index: 99;
              }
            }
          }
          >a {
            @include media('>=desktop') {
              padding: 0;
            }
            &:hover {
              color: $gray;
            }
          }
        }
        .mega-menu {
          display: none;
          @include media('>=desktop') {
            position: absolute;
            top: 66px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          @include media('>=desktop') {
            top: 80px;
            // max-width: 1080px;
          }
        }
        .mega-menu-wrap {
          @include media('>=desktop') {
            background: $white;
            border-top: 1px solid #d9d9d9;
            display: flex;
            flex-wrap: wrap;
            // padding: 30px 30px 10px;
          }
          .menu-text {
            
            width: 20%;
            padding-top: 10px;
            @include media('>=desktop') {
              padding: 16px 20px 0 0;
              line-height: 1.2em;
            }
            .title {
              text-transform: uppercase;
              font-size: 20px;
              display: block;
              line-height: 1;
              @include media('>=desktop') {
                margin-bottom: 10px;
              }
            }
          }
          ul {
            @extend %listreset;
            display: flex;
            flex-wrap: wrap;
            @include media('>=desktop') {
              width: 86%;
            }
            li {
              width: 20%;
              padding: 0 10px;
              a {
                display: block;
                text-align: center;
                color: $black;
                &:hover {
                  opacity: 0.7;
                }
              }
              span {
                text-transform: uppercase;
              }
              .img-wrap {
                margin-bottom: 8px;
                img {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  } 
  .mega-menu{
    .menu-inner{
        display: block !important;
        width:100% !important;
        padding-left:15px !important;
        li{
          display: block;
          width:100% !important;
          padding:5px 0 !important;
          a{
            display: block;
            text-align: left !important;
            text-transform: uppercase;
          }
        }
    }
    .mega-menu-wrap{
      .banner-div-mega{
        position: relative;
        width:40%;
        overflow: hidden;
        &::before{
          content:"";
          width:100%;
          display:block;
          padding-top:65%;
        }
        .banner_img_megamenu{
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          width:100%;
          margin: auto;
          object-fit: cover;
          object-position: center;
          z-index:1;
          opacity:0.8;
        }
      }
      .text-content{
        text-align: center;
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        margin: auto;
        z-index:99;
        width:max-content;
        height:max-content;
        .categories__title{
          font-size:30px;
          color:#000;
        }
        .button--small{
          font-weight:500;
        }
      }
    }
    .main_slider_div_menu{
      width:40%;
      padding:15px;
      padding-bottom:10px;
      .slider_head_menu{
        width:100%;
        border-bottom:1px solid #cccccc;
        padding-bottom:15px;
        margin-bottom:20px;
        h3{
          margin-bottom:0;
          font-size:30px;
          text-align: center;
          width:max-content;
          position: relative;
          margin: auto;
          &::before{
            content:"";
            position:absolute;
            bottom:-16px;
            border:2px solid #000;
            display: block;
            width:100%;
          }
        }
      }
      .menu_slider_div{
        width:50%;
        margin: auto;
        position: relative;
        .product_main-div{
          position: relative;
          overflow: hidden;
          .pro_img-div{
            position: relative;
            overflow: hidden;
            width:100%;
            &::before{
              content:"";
              width:100%;
              display:block;
              padding-top:85%;
            }
            img{
              position:absolute;
              top:0;
              left:0;
              right:0;
              bottom:0;
              width:100%;
              margin: auto;
              object-fit: cover;
              object-position: center;
            }
          }
          .pro_text_div{
            text-align: center;
            h3{
              margin-top:15px;
              font-size:15px;
              max-height: 37px;
              overflow: hidden;
              
            }
            p{
              margin-bottom:0px;
            }
          }
        }
        
        .slick-prev, .slick-next{
          top:37%;
          width:40px;
          height:40px;
        }
        .slick-prev{
          left: -25px;
          z-index:99;
          &::before{
              content: "\f104";
              font-family: "FontAwesome";
              color:#fff;
              font-size:30px;
              background:#000;
              width:40px;
              height:40px;
              border-radius:50%;
              line-height:40px;
              display: block;
              text-align: center;
             
          }
      }
      .slick-next{
          right: -25px;
          &::before{
              content: "\f105";
              font-family: "FontAwesome";
              color:#fff;
              font-size:30px;
              background:#000;
              width:40px;
              height:40px;
              border-radius:50%;
              line-height:40px;
              display: block;
              text-align: center;
          }
      }
      }
    }
  }
  
  
  // search


  .search-box {
    display: none;
  }

  .pos-re {
    position: relative;
    z-index: 99;
  }

  .product_title {
    text-align: center;
  }

  .search-elem {
    position: absolute;
    top: 85px;
    left: 0;
    background-color: white;
    width: 100%;
    min-height: 50px;
    form {
      width: 100%;
      text-align: center;
      position: relative;
      background: white;
      padding-top: 15px;
    }
    .from-flex {
      display: flex;
      position: relative;
      justify-content: center;
      input[type="text"] {
        border-bottom: 1px solid #F0F0F0 !important;
        height: 35px;
        width: 80%;
        padding: 10px 0px;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .clear_div {
        background: url('https://cdn.shopify.com/s/files/1/0273/4928/6960/files/icon-close-512.png?v=1576734856') no-repeat;
        background-size: 22px 18px;
        width: 22px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
      }
    }
  }

  .cart-block__search {
    background: url('https://cdn.shopify.com/s/files/1/0273/4928/6960/files/search.png?v=1576238596') no-repeat;
    background-size: 22px 18px;
    width: 22px;
    height: 18px;
  }

  button[type="submit"] {
    cursor: pointer;
    border: none;
    &:focus {
      outline: none;
      box-shadow: none !important;
    }
  }

  .is-open {
    display: block;
  }

  .is-close {
    display: none;
  }

  .search-results {
    padding: 2%;
    position: relative;
    z-index: 99;
    background: white;
    .img-list {
      position: relative;
      overflow: hidden;
      margin: auto;
      padding-top: 90%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .nav-opener {
    position: absolute;
    top: 15px;
    left: 27px;
    width: 22px;
    height: 14px;
    @media only screen and (min-width: 600px) {
      top: 30px;
    }
    &::before,
    &::after,
    span {
      position: absolute;
      top: 6px;
      left: 0;
      height: 2px;
      width: 100%;
      background: $black;
      text-indent: -9999px;
      overflow: hidden;
      transition: transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
    }
    &::before,
    &::after {
      content: "";
      top: 0;
    }
    &::after {
      top: 12px;
    }
    &:hover {
      &::before,
      &::after,
      span {
        background: $gray;
      }
    }
  }

  .nav-active {
    .nav-opener {
      &::before,
      &::after {
        top: 5px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      span {
        opacity: 0;
      }
    }
  }

  .sticky {
    .header-bottom {
      height: 67px;
      @media only screen and (max-width: 600px) {
        height: 102px;
      }
      @include media('>=tablet') {
        height: 76px;
      }
      @include media('>=desktop') {
        height: 99px;
      }
    }
    .header-bottom-wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
    }
  }