{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

{% section 'collection_section' %}
<script>
$(document).ready(function(){

 var collFilters = jQuery('.coll-filter');
 //var radioValue = $("input[name='diameter']:checked").val();
   // if (radioValue != ""){
    //newTags.push(radioValue);
    //}
     
  collFilters.change(function() {
var newTags = [];    
    collFilters.each(function() {
      if (jQuery(this).val()) {
        if ($(this).is(":checked")){
        newTags.push(jQuery(this).val());
        }
      }
    var name=jQuery(this).attr('name');
      if(name == 'keyword'){
        newTags.push(jQuery(this).val());
      }

    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
});
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
 
</script>