<div class="search-box search-elem">
		<div class="inner row">
			<div class="semi-10 large-push-2 semi-push-1 large-8 columns pos-re">
				{% assign searchterm = search.terms | escape | replace: '*', '' | replace: 'title:','' %}
				<form action="/search" method="get" role="search">
				<div class = "from-flex">
					<input type="text" name="q" id="search-field" value="{{searchterm}}" placeholder="Enter search term">
					<button class="submit cart-block__search" type="submit"></button>
					<a class="button clear_div" type="submit"></a>
				</div>
				</form>
			</div>
			<div class="columns is-mobile is-multiline search-results"></div>
		</div>
	</div>
</div>