{% assign cart_type = section.settings.cart_type %}


{% case cart_type %}

{% when 'cart_dropdown' %}

<a id="cartDropdown" class="nav-link cart-dropdown" href="#" name="cart"
    title="cart" rel="nofollow" aria-label="Cart">
    <i class="icon ion-md-cart"></i>
    <span v-if="cart.item_count> 0" v-text="cart.item_count" class="badge
        bg-warning"></span>
</a>
<b-popover target="cartDropdown" placement="bottom" container="cartDropdown"
    triggers="hover focus" class="d-none">
    <template slot="title">{{ 'cart.general.title' | t }}</template>
    {% include 'cart-dropdown' %}
</b-popover>

{% when 'cart_drawer' %}
<a  data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="cart-block__cart  js-cartCanvas" >
    {% include 'icon-cart' %}
    <span id="CartCount" class="{% if cart.item_count == 0 %} u-hide{% endif %}" rv-html="cart.item_count"></span>
</a>
{% else %}
<a href="/cart" aria-label="Cart" rel="nofollow" class="cart-block__cart">Cart</a>
{% endcase %}
