<div class="logo">
    {% if logo contains 'no-image' %}
    <a href="/">{{ shop.name | escape }}</a>
    {% else %}
    {% if isLogoLight %}
    <a href="/"><img src="{{ logo_light }}" alt="{{ shop.name | escape }}" style="width: {{ logo_width }}px" /></a>
    {% else %}
    <a href="/"><img src="{{ logo }}" alt="{{ shop.name | escape }}" style="width: {{ logo_width }}px" /></a>
    {% endif %}
    {% endif %}
</div>

{% assign handleMega = '' %}
{% for block in section.blocks %}
{% assign handleMega = handleMega | append: block.settings.megamenu_handle %}
{% endfor %}

<nav id="nav">
    {% assign handleMega = '' %}
    {% for block in section.blocks %}
    {% assign handleMega = handleMega | append: block.settings.megamenu_handle%}
    {% endfor %}

    <a href="#" class="nav-opener"><span>opener</span></a>
    <div class="drop primary-navigation">
        <ul class="primary-navigation__list">
            {% for link in linklists[section.settings.main_linklist].links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if handleMega contains child_list_handle %}
                    {% for block in section.blocks %}
                        {% if block.settings.megamenu_handle contains child_list_handle %}
                            {% assign count = 0 %}
                            {% for i in (1..5) %}
                                {% capture colObj %}choose_collect{{i}}{% endcapture %}
                                {% assign collect = block.settings[colObj] %}
                                {% if collect != blank %}
                                    {% assign count = count | plus: 1 %}
                                {% endif %}
                            {% endfor %}
                            <li class="primary-navigation__item">
                                <a class="primary-navigation_link" href="{{ link.url }}">
                                    {{ link.title }}<span class="down-arrow">down-arrow</span>
                                </a>
                                <div class="mega-menu">
                                    <div class="mega-menu-wrap">
                                        <div class="menu-text">
                                            <ul class="menu-inner">
                                                {% for link in linklists[section.settings.main_linklist].links %}
                                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                                {% endfor %}
                                                
                                            </ul>
                                        </div>
                                        <div class="banner-div-mega">
                                            <a href="{{ block.settings.btn_url }}">
                                            <img class="banner_img_megamenu" src="{{ block.settings.img_banner | img_url: 'original' }}" alt="">
                                            <div class="text-content">
                                                {% if block.settings.heading_txt  != blank %}
                                                    <h3 class="categories__title">{{ block.settings.heading_txt }}</h3>
                                                {% endif %}
                                                <a href="{{ block.settings.btn_url }}" class="button--small">{{ block.settings.btn_text }}</a>
                                            </div>
                                            </a>
                                        </div>
                                        <div class="main_slider_div_menu">
                                            <div class="slider_head_menu">
                                                <h3>{{ block.settings.slider_head }}</h3>
                                            </div>
                                            <div class="menu_slider_div">
                                                {% for block in section.blocks %}
                                                    {% assign collection = collections[block.settings.choose_collection] %}
                                                    {% for product in collection.products %}
                                                    <div class="product_main-div">
                                                        <div class="pro_img-div">
                                                            <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product_title }}">
                                                        </div>
                                                        <div class="pro_text_div">
                                                            <h3 class="categories__title">{{ product.title }}</h3>
                                                            <p>{{ product.price | money }}</p>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                                        {% comment %}
                                        <ul>
                                            {% for i in (1..5) %}
                                            {% capture collObj %}choose_collect{{i}}{% endcapture %}  
                                            {% capture collImg %}collection_img{{i}}{% endcapture %}
                                            {% assign coll = block.settings[collObj] %}
                                            {% assign collection = collections[coll] %}                                            
                                            {% if collection != blank %}
                                            <li>
                                                <a href="{{ collection.url }}">
                                                    <div class="img-wrap">
                                                        <img src="{{ block.settings[collImg] |
                                                            img_url: '350x' }}" alt="{{
                                                            collection.featured_image.alt |
                                                            escape
                                                            }}">
                                                    </div>
                                                    <span>{{ collection.title }}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </li>
                        {%endif%}
                    {%endfor%}
                {% else %}
                <li class="primary-navigation__item">
                    <a class="primary-navigation_link" href="{{ link.url }}">
                        {{ link.title }}<span class="down-arrow">down-arrow</span>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="cart-block">
    {%comment%}<a class="cart-block__user" href="#"
        @click.prevent="_toggleSearch"
        name="search" title="search" rel="nofollow" aria-label="Search">
        <i class="icon ion-md-search"></i>
    </a>
    <form id="searchForm" class="position-relative border-bottom
        text-gray-400 header-search-form" action="/search" method="get"
        role="search">
        <input id="searchInput" class="form-control border-0
            text-gray-700 pt-1 pb-1 pr-5 pl-0 bg-transparent" name="q"
            type="text" placeholder="{{ 'general.search.placeholder' | t
            }}" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" />
        <button type="button" class="header-search-icon text-black
            px-0"><i class="ion ion-ios-search d-inline-block
                line-height-sm"></i></button>
    </form>
    {%endcomment%}
    {% if shop.customer_accounts_enabled %}
    {% unless customer %}
    <a href="/account" class="cart-block__user">User</a>
    {% else %}
    <a href="/account" class="cart-block__user">User</a>
    {% endunless %}
    {% endif %}
    {% include 'header-cart-link' %}
    {% if settings.enable_currency_selector %}
    {% include 'currency-picker' %}
    {% endif %}
    <a class="cart-block__search">
    </a>
</div>
    {% include 'ajax-search-form' %} 

<div class="logo-slider">
{% assign collection = collections %}
{% for item in collection %}
<div>
    <div class = "col-img">
        <img src="{{ item.image | img_url: 'medium' }}" />
    </div>
     <p class="txt-center">{{item.title}}</p>
</div>
{% endfor %}
</div>