{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}
{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% comment %} <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style> 
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% endcomment %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
    {% if downcased_option contains 'size' %}
      {% assign is_size = true %}
    {% endif %}
    {% if downcased_option contains 'ships from' %}
      {% assign is_country = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
{% if is_color %}
  <div class="color_label">
    <P>Color :</p>
  </div>
{% else %}
  <div class="size_label size-{{ option_index }}">
    <P>Size :</p>
  </div>
{% endif %}
<div class="swatch clearfix swatch-{{ option_index }}" data-option-index="{{ option_index }}">
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
   	  {% assign checked = '' %}
  	  {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      {% if product.selected_variant.title contains value %} 
          {% assign checked = 'checked="checked"' %} 
      {% endif %}
      
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}-{{product.id}}" type="radio" name="option-{{ option_index }}" {% if checked %}{{ checked }}{% endif %} value="{{ value | escape }}" {% unless variant.available %}disabled{% endunless %} />
        {% if is_color %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{product.id}}"   data-pro-id="{{product.id}}" data-img ="{{variant.image | img_url: 'medium' }}" style="background-color: {{ value | split: ' ' | last | handle }}; ">
          	{% if variant.image != blank %}
              <img class="variant-image" src="{{  variant.image | img_url: 'small' }}" />
            {% endif %}
 		    </label>
        {% else %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{product.id}}">
          {{ value }}
          {% comment %} <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />       {% endcomment %}
        </label>
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
     <script>
      jQuery('.swatch[data-option-index="{{ option_index }}"].{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
 
    {% endif %}

  {% endfor %}
</div>

{% endunless %}

{% endif %}
    