.story-block {
    margin: 0 0 80px;

    h2 {
        &.title {
            font-size: 28px;
            font-family: $base-font-serif;
            text-transform: uppercase;
            color: $black;

            @include media('>=desktop') {
                font-size: 30px;
            }
        }
    }

    .img-wrap {
        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .story-content {
        background: $white;
        padding: 35px;
        font-size: 15px;
        line-height: 26px;
        font-family: $base-font-sans-serif;
        color: $gray;
        height: auto;
        width: 94%;
        margin: -20% 0 0 6%;


        @include media('>=tablet') {

            position: relative;
            width: 80%;
            margin: 5% 0 0 -15%;
        }

        h2 {
            &.story-content__title {
                font-size: 28px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                color: $black;

                @include media('>=desktop') {
                    font-size: 30px;
                }
            }
        }

        .story-content__content {
            margin: 0 0 15px;
        }
    }
}

.video-block {
    margin: 0 0 120px;
    @extend %clearfix;

    .video-holder {
        .video-holder__video-box {
            margin: 0 0 40px;
        }

        .video-holder__video-description {
            color: $dark-gray;
            font-size: 22px;
            line-height: 34px;

            p {
                margin: 0 0 30px;
            }
        }
    }

}

.newsletter {
    font-family: $base-font-sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: $gray;
    letter-spacing: 2px;
    margin: 0 0 110px;

    .mailing-list {
        h2 {
            &.mailing-list__title {
                font-size: 28px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                color: $black;
                letter-spacing: 2px;

                @include media('>=desktop') {
                    font-size: 30px;
                }
            }
        }

        .mailing-list__email-holder {
            input[type="email"] {
                background: $input-bg;
                outline: none;
                color: $gray;
                border: none;
                font-size: 16px;
                line-height: 25px;
                text-transform: uppercase;
                font-family: $base-font-serif;
                padding: 20px 15px 20px 25px;
                min-width: 265px;
                letter-spacing: 1px;
                vertical-align: top;
            }

            input[type="submit"] {
                background: $black;
                text-transform: uppercase;
                font-family: $base-font-serif;
                color: $white;
                border: none;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 1px;
                vertical-align: top;
                margin: 0 0 0 -10px;
                padding: 5px 35px;
                outline: none;
                cursor: pointer;
                border: 15px solid $input-bg;
            }
        }
    }
}