.promote-block {
    margin: 0 0 90px;

    .promote-form {
        .promote-form__form-field {
            width: calc(50% - 17px);
            display: inline-block;
            margin-right: 30px;
            margin-bottom: 20px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            input[type="text"] {
                border: solid $light-pink;
                border-width: 0 0 1px 0;
                width: 100%;
                padding: 15px;
                color: $light-gray;
                font-size: 14px;
                line-height: 20px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .select-css {
                display: block;
                width: 100%;
                max-width: 100%;
                border: solid $light-pink;
                border-width: 0 0 1px 0;
                width: 100%;
                padding: 15px;
                color: $light-gray;
                font-size: 14px;
                line-height: 20px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
                box-sizing: border-box;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
                appearance: none;
                // background: url(../images/arrow-down.png) 100% 50% no-repeat;

                &::-ms-expand {
                    display: none;
                }
            }
        }

        .get-estimate {
            padding: 25px 0 0;

            .button {
                font-family: $base-font-serif;
                font-size: 14px;
                line-height: 20px;
                display: inline-block;
                padding: 10px 20px;
                vertical-align: middle;
                height: auto;
            }
        }
    }
}

.two-blocks {
    margin: 0 0 110px;

    .img-wrap {
        img {
            width: 100%;
        }
    }

    .row-reverse-columns {
        @include media('<=tablet') {
            display: flex;
            flex-direction: column-reverse;

            .quote {
                margin: -25% 2% 0;
            }
        }
    }

    .quote {
        background: $white;
        padding: 40px 60px 80px;
        box-shadow: -1px 1px 15px rgba(114, 110, 110, 0.3);
        margin: 0;
        position: relative;

        @include media('>=desktop') {
            margin: 16% -15% 0 0;
        }

        .quote__blockquote {
            font-size: 14px;
            line-height: 24px;
            font-family: $base-font-sans-serif;
            color: $dark-gray;
            font-weight: 500;
            letter-spacing: 1px;
            position: relative;
            padding: 35px 0;

            &:before,
            &:after {
                position: absolute;
                content: '';
                width: 30px;
                height: 24px;
                // background: url(../images/quote.png) 100% 50% no-repeat;
            }

            &:before {
                top: 0;
                left: 0;
            }

            &:after {
                bottom: 0;
                right: 0;
                // background: url(../images/quote-down.png) 100% 50% no-repeat;
            }
        }

        .quote__cite {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1px;
            font-style: normal;

            span {
                display: block;
                font-size: 14px;
                color: $light-gray;
                padding: 0 10px;
            }
        }
    }
}

.promise {
    margin: 0 0 90px;

    .promise-block {
        .promise-block__list {
            overflow: hidden;
            counter-reset: step;

            .promise-block__item {
                display: block;
                list-style-type: none;
                position: relative;
                padding-left: 50px;

                &:before {
                    content: counter(step);
                    counter-increment: step;
                    font-family: 'la_palomaregular';
                    font-size: 24px;
                    line-height: 34px;
                    color: $black;
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    font-weight: 700;
                    z-index: 1;
                    transform: translateY(-50%);
                }

                p {
                    font-size: 13px;
                    line-height: 22px;
                    font-family: $base-font-sans-serif;
                }
            }
        }
    }
}
#ambassador{
    .instagram-block{
        background:none;
        .has-text-centered{
            margin-bottom:30px;
        }
    }
}