.cart-section {
    padding:50px 0;
    .cart-head {
      h2 {
        color: #000000;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .cart-heading {
      background: #f1f2f2;
      padding: 10px 15px;
      p {
        color: #000000;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      .product-head {
        text-align: left;
      }
      .price-head {
        text-align: center;
      }
      .qty-head {
        text-align: center;
      }
      .total-head {
        text-align: right;
      }
    }
    .align-item-center{
        align-items:center;
    }
    .cart-items {
      padding: 20px 15px;
      border-bottom: 1px solid #e0e0e0;
      .cart-product-div {
        display: flex;
        align-items: flex-wrap;
        .product-image-div {
          width: 100px;
          margin-right: 15px;
          position: relative;
          height: 100px;
          img{
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 100%;
          }
        }
        .product-text-div {
          .label-name {
            margin-bottom: 0;
            font-weight: 500;
            color: #3498db;
            font-size: 14px;
          }
          .pro-name {
            margin-bottom: 0;
            a {
              font-size: 18px;
              font-weight: 500;
              color: #000000;
              margin: 5px 0;
              display: block;
              line-height: 22px;
              &:hover {
                color: #3498db;
              }
            }
          }
          .remove-pro {
            font-size: 16px;
            color: #3498db;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .cart-price-div {
        p {
          text-align: center;
          color: #000000;
          font-size: 15px;
          margin-bottom: 0;
        }
      }
      .cart-qty-div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .minus-qty {
          height: 40px;
          width: 30px;
          background: none;
          text-align: center;
          outline: none;
          cursor: pointer;
          border: 1px solid #c0c3c5;
          border-right: 0;
          border-radius: 5px 0 0 5px;
          color: #000000;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 0;
        }
        .plus-qty {
          height: 40px;
          width: 30px;
          background: none;
          text-align: center;
          outline: none;
          cursor: pointer;
          border: 1px solid #c0c3c5;
          border-left: 0;
          border-radius: 0 5px 5px 0;
          color: #000000;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 0;
        }
        .quntity-input {
          height: 40px;
          width: 40px;
          background: none;
          text-align: center;
          outline: none;
          cursor: pointer;
          border: 1px solid #c0c3c5;
          border-left: 0;
          border-right: 0;
          color: #000000;
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 0;
          padding:0;
        }
      }
      .cart-total-div {
        p {
          text-align: right;
          color: #000000;
          font-size: 15px;
          margin-bottom: 0;
        }
      }
    }
    .cart-subtotal-div {
      padding: 0 15px;
      p {
        font-size: 25px;
        margin: 25px 0;
        text-align: right;
      }
    }
    .btn-checkout-div {
      text-align: right;
      .outline-btn {
        border: 2px solid #000000;
        height: 50px;
        padding: 0 30px;
        text-transform: uppercase;
        color: #000000;
        font-weight: 500;
        font-size: 17px;
        border-radius: 5px;
        background: none;
        display: inline-block;
        line-height: 46px;
        margin-right: 15px;
        &:hover {
          color: #ffffff;
          background: #000000;
        }
      }
      .checkout-btn {
        border: 2px solid #000000;
        height: 50px;
        padding: 0 30px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 500;
        font-size: 17px;
        border-radius: 5px;
        background-color: #000000;
        display: inline-block;
        line-height: 46px;
        &:hover {
          color: #000000;
          background: none;
        }
      }
    }
    .payment-option {
      margin-top: 25px;
      p {
        text-align: right;
        margin-bottom: 10px;
        font-size: 14px;
        color: #999999;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-section {
      .cart-items {
        .cart-product-div {
          .product-image-div {
            width: 130px;
            margin-right: 15px;
          }
          .product-text-div {
            .pro-name {
              a {
                font-size: 15px;
                line-height: 19px;
              }
            }
            .remove-pro {
              font-size: 14px;
            }
            .label-name {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .cart-section {
      .cart-heading {
        .price-head {
          display: none;
        }
        .product-head {
          width: 33.33%;
          margin-left: 0;
        }
        .qty-head {
          width: 33.33%;
          margin-left: 0;
        }
        .total-head {
          width: 33.33%;
          margin-left: 0;
        }
      }
  
      .cart-items {
        display: block;
        .cart-product-div {
          width: 100%;
        }
        .cart-price-div {
          width: 33.33%;
          margin-left: 0;
          margin-top: 20px;
          height: 40px;
          p {
            text-align: left;
            line-height: 40px;
          }
        }
        .cart-qty-div {
          width: 33.33%;
          margin-left: 0;
          margin-top: 20px;
        }
        .cart-total-div {
          width: 33.33%;
          margin-left: 0;
          text-align: right;
          margin-top: 20px;
          height: 40px;
          p {
            line-height: 40px;
          }
        }
      }
      .cart-subtotal-div {
        p {
          text-align: center;
        }
      }
      .btn-checkout-div {
        text-align: center;
      }
      .payment-option {
        p {
          text-align: center;
        }
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .cart-section {
      .cart-heading {
        p {
          color: #000000;
          font-size: 12px;
        }
      }
      .cart-items {
        .cart-product-div {
          .product-image-div {
            width: 130px;
            margin-right: 15px;
          }
          .product-text-div {
            .pro-name {
              a {
                font-size: 14px;
                line-height: 19px;
              }
            }
            .remove-pro {
              font-size: 13px;
            }
            .label-name {
              font-size: 12px;
            }
          }
        }
      }
      .cart-subtotal-div {
        p {
          font-size: 22px;
        }
      }
      .btn-checkout-div {
        .outline-btn {
          display: block;
          margin-right: 0;
          width: max-content;
          margin: auto;
          margin-bottom: 20px;
        }
      }
    }
  }