#tab_container .container_item {
    display: none;
}

#tab_container .container_item.is-active {
    display: block;
}

.contact-us {
    .tabs {
        padding: 15px 0;
        ul {
            border-bottom-color: $pink;
            li{
                &.is-active{
                    a{
                        color: $black;
                border-bottom-color: $black;
                
                    }
                }
                a{
                    margin: 0 0 10px;
                    border-bottom-color: $white;
                }
            }
        }
    }

    .form-contact-us {
        @include media('>=desktop') {
            padding-right: 100px;
        }

        .form-contact-us__form-field {
            width: calc(50% - 17px);
            display: inline-block;
            margin-right: 30px;
            margin-bottom: 20px;

            &.full-width {
                width: 100%;
            }

            &:nth-child(2n),
            &.last-field {
                margin-right: 0;
            }

            &.field-margin {
                margin-right: 30px;
            }

            input[type="text"] {
                border: solid $light-pink;
                border-width: 0 0 1px 0;
                width: 100%;
                padding: 15px;
                color: $light-gray;
                font-size: 14px;
                line-height: 20px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .form-contact-us__select-css {
                display: block;
                width: 100%;
                max-width: 100%;
                border: solid $light-pink;
                border-width: 0 0 1px 0;
                width: 100%;
                padding: 15px;
                color: $light-gray;
                font-size: 14px;
                line-height: 20px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
                box-sizing: border-box;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
                appearance: none;
                // background: url(../images/arrow-down.png) 100% 50% no-repeat;

                &::-ms-expand {
                    display: none;
                }
            }
        }

        .get-estimate {
            padding: 25px 0 0;
            overflow: hidden;

            .button {
                font-family: $base-font-serif;
                font-size: 14px;
                line-height: 20px;
                display: inline-block;
                padding: 10px 20px;
                vertical-align: middle;
                height: auto;
            }
        }

    }
}

.chatbox {
    background: $chatbox-bg;
    padding: 25px 32px;
    margin: 0 0 66px;

    .chatbox__withus {
        margin: 0 0 45px;

        p {
            font-family: $base-font-sans-serif;
            font-size: 11px;
            line-height: 21px;
        }
    }

    .chatbox__contactus {
        ul {
            li {
                font-family: $base-font-sans-serif;
                font-size: 11px;
                line-height: 21px;
                margin: 0 0 25px;

                a {
                    display: block;
                    color: $black;
                }
            }
        }
    }
}