.single-text-block{
    margin: 0 0 50px;
    h1{
        font-size: 30px;
        line-height: 36px;
    }
    h4{
         font-family: $base-font-sans-serif;
    font-size: 13px;
    line-height: 20px;
    }
   p{
    font-family: $base-font-sans-serif;
    font-size: 13px;
    line-height: 20px;
   } 
}