.content-block {
    margin: 0 0 124px;

    .text-block {
        font-family: $base-font-sans-serif;
        font-size: 13px;
        line-height: 26px;
        color: $light-gray;
    }
}

.shipping-tabs {
    margin: 0 0 75px;

    #shipping-form {
        .form-field {
            width: calc(50% - 17px);
            display: inline-block;
            margin-right: 30px;
            margin-bottom: 20px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            input[type="text"] {
                border: solid $light-pink;
                border-width: 0 0 1px 0;
                width: 100%;
                padding: 15px;
                color: $light-gray;
                font-size: 14px;
                line-height: 20px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .select-css {
                display: block;
                width: 100%;
                max-width: 100%;
                border: solid $light-pink;
                border-width: 0 0 1px 0;
                width: 100%;
                padding: 15px;
                color: $light-gray;
                font-size: 14px;
                line-height: 20px;
                font-family: $base-font-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
                box-sizing: border-box;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
                appearance: none;
                // background: url(../images/arrow-down.png) 100% 50% no-repeat;

                &::-ms-expand {
                    display: none;
                }
            }
        }

        .get-estimate {
            padding: 25px 0 0;

            .button {
                font-family: $base-font-serif;
                font-size: 14px;
                line-height: 20px;
                display: inline-block;
                padding: 10px 20px;
                vertical-align: middle;
                height: auto;
            }
        }

    }
}

.safe-shipping,
.secure-shipping {
    margin: 0 0 70px;
    text-align: center;

    .icon-wrap {
        img {
            vertical-align: top;
        }

    }

    span {
        font-size: 13px;
        text-transform: uppercase;
        line-height: 20px;
        font-family: $base-font-sans-serif;
    }
}