.slider_section_dis{
    padding:40px 0;
    .main_slider_inner{
        position:relative;
        .nav-slider{
            width:100%;
            position: absolute !important;
            z-index: 99;
            top: 20px;
            left: 0;
            .nav_item{
                min-width: 150px !important;
                width: max-content !important;
                text-align: center;
                display: flex !important;
                margin: auto;
                justify-content: space-between;
                p{
                    margin-bottom:0;
                    border:2px solid #000;
                    border-radius:30px;
                    padding:8px 15px;
                    color:#000;
                    background:#fff;
                    width: 100%;
                }
            }
            .slick-current{
                .nav_item{
                    p{
                        background:#000;
                        color:#fff;
                        border:2px solid #fff;
                    }
                }
            }
        }
        .main-slider{
            .main_slide_item{
                height:500px;
                background-size:cover;
                background-position:center;
                display:flex !important;
                align-items:center;
                padding:20px;
                .bg-image{
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .content_div_slider{
                    width:45%;
                    padding:20px 15px;
                    background:rgba(#000, .6);
                    color:#fff;
                    margin-left:5%;
                    p{
                        margin-bottom:0;
                    }
                }
            }
            .slick-arrow{
                background:#fff;
            }
            .slick-prev{
                left: 0px;
                z-index:99;
                &::before{
                    content: "\f104";
                    color:#000;
                    font-size:20px;
                    font-family: FontAwesome;
                }
            }
            .slick-next{
                right: 0px;
                &::before{
                    content: "\f105";
                    color:#000;
                    font-size:20px;
                    font-family: FontAwesome;
                }
            }
        }
    }
}

@media only screen and ( max-width: 767px ){
    .slider_section_dis{
        .main_slider_inner{
            .nav-slider{
                display:none !important;
            }
            .main-slider {
                .main_slide_item{
                    height: 300px;
                    .content_div_slider{
                        width:100%;
                        margin-left:0;
                    }
                }
            }

        }

    }
}