.wrapper {
    width: 100%;
    position: relative;
}
.template-index{
    .color_label{
        display:none;
    }
    .size_label{
        display:none;
    }
}
.template-product{
    .instagram-block{
        background:none;
    }
}
// .container{
//     padding:0px 15px;
// }

@media only screen and ( max-width: 1199px ){
    body{
        overflow: hidden;
    }
}
@media only screen and ( max-width: 767px ){
    h2{
        font-size:23px;
    }
}