.product-single__thumbnail-image {
    border: 2px solid transparent;
    .active-thumbnail & {
        border-color: grey;
    }
}

.product-detail-section {
    padding-top: 30px;
    .bredcume-ul {
        margin-bottom: 30px;
        li {
            display: inline-block;
            position: relative;
            &:not(:last-child) {
                margin-right: 19px;
                &::before {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -14px;
                    color: green;
                    font-size: 12px;
                }
            }
            a {
                display: block;
                font-weight: 400;
                font-size: 12px;
            }
        }
    }
    .product-nav {
        .pro-nav-ul {
            .slick-list {
                padding: 0px !important;
            }
            li {
                margin-bottom: 5px !important;
                a {
                    img {
                        width: 100%;
                        height: auto;
                        border: 2px solid;
                        border-color: #fff;
                        opacity: .3;
                    }
                }
            }
            .slick-current {
                img {
                    border-color: green;
                    opacity: 1;
                }
            }
        }
    }
    .product-slider {
        .product-img {
            img {
                width: 100% !important;
            }
        }
        .slick-next {
            right: 10px;
            background: rgba(255, 255, 255, .3);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            &::before {
                content: "\f105";
                font-family: FontAwesome;
                font-size: 23px;
                line-height: 30px;
                color: $black;
            }
        }
        .slick-prev {
            left: 10px;
            z-index: 99;
            background: rgba(255, 255, 255, .3);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            &::before {
                content: "\f104";
                font-family: FontAwesome;
                font-size: 23px;
                line-height: 30px;
                color: $black;
            }
        }
    }
    .product-detail-content {
        .product-head {
            p {
                color: green;
                margin-bottom: 5px;
            }
            .price-text {
                display: flex;
                align-items: center;
                .price {
                    font-size: 27px;
                    font-weight: 400;
                }
                .review-pro {
                    .star-icon {
                        color: green;
                    }
                }
            }
            border-bottom:1px solid rgba($purple, .1);
        }
        .product-info {
            label {
                font-weight: 500;
            }
        }
        .product-qty {
            label {
                font-weight: 500;
            }
            .pro-qty-div {
                display: flex;
                align-items: center;
                .qty-btn {
                    border: 2px solid green;
                    background: none;
                    height: 45px;
                    width: 40px;
                    font-size: 20px;
                    font-weight: 400;
                    color: green;
                    outline: none;
                }
                .minus-btn {
                    border-right: none;
                }
                .plus-btn {
                    border-left: none;
                }
                .qty-input {
                    border: 2px solid green;
                    border-left: none;
                    border-right: none;
                    background: none;
                    height: 45px;
                    width: 50px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 45px;
                    color: green;
                    outline: none;
                }
            }
            .pro-add-btn {
                display: flex;
                .btn-all {
                    background: green;
                    color: $white;
                    padding: 10px 20px;
                    width: 73%;
                    font-weight: 400;
                    outline: none;
                    border: 2px solid green;
                    height: 45px;
                    &:hover {
                        background: #252932;
                        border: 2px solid #252932;
                    }
                }
                .add-cart {
                    width: 25%;
                    font-size: 18px;
                    background: #252932;
                    border: 2px solid #252932;
                    margin-right: 10px;
                    &:hover {
                        background: green;
                        border: 2px solid green;
                    }
                }
            }
        }
        .payment-option {
            label {
                font-weight: 500;
            }
            .payment-ul {
                li {
                    display: inline-block;
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    a {
                        display: block;
                        font-size: 35px;
                        color: green !important;
                    }
                    &:hover {
                        a {
                            color: $purple !important;
                        }
                    }
                }
            }
        }
    }
}

.product-info {
    h4 {
        padding: 10px 0;
        border-bottom: 1px solid rgba($purple, 0.2);
        margin-bottom: 30px;
    }
}