{% if section.settings.banner_section %}
<section class="hero is-paddingless has-text-centered has-text-white about-section about-banner-div"  style="background-image:url('{{ section.settings.bg_img | img_url:'original' }}');">
  <div class="hero-body about-banner">
    <div class="container">
      <div class="hero-text">
        {% if section.settings.banner_title %}
        <h1 class="hero-text__title">
          {{ section.settings.banner_title }}
        </h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_our_story %}
<section class="story-block">
  <div class="container is-paddingless is-marginless is-fluid">
    <div class="columns">
      <div class="column">
        <div class="img-wrap">
          {% if section.settings.our_story_img %}
          <img src="{{ section.settings.our_story_img | img_url:'original' }}" alt="{{ section.settings.our_story_title }}">
          {% endif %}
        </div>
      </div>
      <div class="column">
        <div class="story-content">
          {% if section.settings.our_story_title %}
          <h2 class="story-content__title title">{{ section.settings.our_story_title }}</h2>
          {% endif %}
          {% if section.settings.our_story_content %}
          <p class="story-content__content">{{ section.settings.our_story_content }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_video_block %}
<section class="video-block">
  <div class="container">
    {% if section.settings.video_title %}
    <h2 class="title has-text-centered">{{ section.settings.video_title }}</h2>
    {% endif %}
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="video-holder">
          <div class="video-holder__video-box">
            {% if section.settings.video_img %}
            <img src="{{ section.settings.video_img | img_url:'original' }}" alt="video">
            {% endif %}
          </div>
          <div class="video-holder__video-description has-text-centered">
             {% if section.settings.video_description %}
            	<p>{{ section.settings.video_description }}</p>
             {% endif %}
            {% if section.settings.video_name %}
            <span class="name">{{ section.settings.video_name }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "About Us",
    "settings": [
		{
			"type":"header",
			"content": "Banner Section"
		},
		{
			"type": "checkbox",
			"id": "banner_section",
			"label": "Enable Banner Section?"
		},
		{
			"type": "text",
			"id": "banner_title",
			"label": "Banner Title"
		},
		{
			"type": "image_picker",
			"id": "bg_img",
			"label": "Banner Image"
		},
		{
			"type":"header",
			"content": "Our Story Section"
		},
		{
			"type": "checkbox",
			"id": "enable_our_story",
			"label": "Enable Our Story Section?"
		},
		{
			"type":"image_picker",
			"id":"our_story_img",
			"label": "Select Image"
		},
		{
			"type": "text",
			"id": "our_story_title",
			"label":"Title"
		},
		{
			"type": "textarea",
			"id": "our_story_content",
			"label": "Add Text"
		},
		{
			"type": "header",
			"content": "Video Section"
		},
		{
			"type": "checkbox",
			"id": "enable_video_block",
			"label": "Enable Video Section?"
		},
		{
			"type": "text",
			"id": "video_title",
			"label":"Title"
		},
		{
			"type": "image_picker",
			"id": "video_img",
			"label":"Video Image"
		},
		{
			"type": "text",
			"id": "video_description",
			"label": "Video Description"
		},
		{
			"type": "text",
			"id": "video_name",
			"label": "Video Name"
		}
		
		
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
