{% if section.settings.enable_mailing_section %}
<section class="newsletter is-hidden-touch">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half-desktop is-full-mobile">
        <div class="mailing-list has-text-centered ">
          {% if section.settings.mailing_title %}
          <h2 class="mailing-list__title">{{ section.settings.mailing_title }}</h2>
          {% endif %}
          {% if section.settings.mailing_content %}
          <p>{{ section.settings.mailing_content }}</p>
          {% endif %}
          <div class="mailing-list__email-holder">
            {% form 'contact' %}
            <div class="get-in">
              {% if section.settings.placeholder %}
              <input type="email" name="contact[email]" id="" placeholder="{{ section.settings.placeholder }}">
              {% endif %}
              {% if section.settings.button %}
              <input type="submit" value="{{ section.settings.button }}">
              {% endif %}
            </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Mailing List",
    "settings": [
		{
			"type":"header",
			"content":"Mailing List"
		},
		{
			"type":"checkbox",
			"id": "enable_mailing_section",
			"label": "Enable Mailling Section?"
		},
		{
			"type":"text",
			"id": "mailing_title",
			"label":"TItle"
		},
		{
			"type": "text",
			"id": "mailing_content",
			"label": "Add Text"
		},
		{
			"type":"text",
			"id":"placeholder",
			"label": "Placeholder"
		},
		{
			"type": "text",
			"id": "button",
			"label": "Button"
		}
		
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
