{% if section.settings.enable_banner_section %}
<section class="hero has-text-centered has-text-white ambassador" style="background-image:url('{{ section.settings.bg_img | img_url:'original' }}');">
   <div class="hero-body about-banner">
     <div class="container">
       <div class="hero-text amb-text">
         {% if section.settings.banner_title %}
         <h1 class="hero-text__title">
           {{ section.settings.banner_title }}
         </h1>
     	{% endif %}
         {% if section.settings.banner_sub_title %}
         <h2 class="hero-text__subtitle">{{ section.settings.banner_sub_title }}</h2>
         {% endif %}
         {% if section.settings.banner_title_tag %}
         <span class="hero-text__hastag-text">{{ section.settings.banner_title_tag }}</span>
         {% endif %}
       </div>
     </div>
   </div>
</section>
{% endif %}
{% if section.settings.enable_promote_section %}
<section class="promote-block">
  <div class="container">
    {% if section.settings.promote_title %}
    <h2 class="has-text-centered">{{ section.settings.promote_title }}</h2>
    {% endif %}
    <div class="columns is-mobile is-centered">
      <div class="column is-three-quarters-desktop is-full-mobile">
        <form action="" id="girl-power" class="promote-form">
          <div class="promote-form__form-field">
            <input type="text" name="" id="" placeholder="full name">
          </div>
          <div class="promote-form__form-field">
            <input type="text" name="" id="" placeholder="instagram/ facebook handle">
          </div>
          <div class="promote-form__form-field">
            <select class="select-css" name="" id="">
              <option value="">followers</option>
            </select>
          </div>
          <div class="promote-form__form-field">
            <select class="select-css" name="" id="">
              <option value="">email address</option>
            </select>
          </div>
          <div class="get-estimate has-text-centered">
            {% if section.settings.promote_button %}
            <button class="button button--black">{{ section.settings.promote_button }}</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_quote_section %}
<section class="two-blocks">
  <div class="container">
    <div class="columns row-reverse-columns">
      <div class="column">
        <div class="quote">
          {% if section.settings.quote_block %}
          <blockquote class="quote__blockquote">{{ section.settings.quote_block }}</blockquote>
          {% endif %}
          <cite class="quote__cite">
           {% if section.settings.quote_name %}
            {{ section.settings.quote_name }}
           {% endif %}
           {% if section.settings.quote_country %}
            <span class="country">{{ section.settings.quote_country }}</span>
           {% endif %}
          </cite>
        </div>
      </div>
      <div class="column is-three-fifths">
        <div class="img-wrap">
          {% if section.settings.quote_img %}
          <img src="{{ section.settings.quote_img | img_url: 'original' }}" alt="image description">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_promise_section %}
<section class="promise">
  <div class="container">
    {% if section.settings.promise_title %}
    <h2 class="has-text-centered">{{ section.settings.promise_title }}</h2>
    {% endif %}
    <div class="columns is-mobile is-centered">
      <div class="column is-three-quarters-desktop is-one-third-mobile">
        <div class="promise-block">
          <ul class="columns promise-block__list">
            <li class="column promise-block__item">
              {% if section.settings.promise_1 %}
              <p>
                {{ section.settings.promise_1 }}
              </p>
              {% endif %}
            </li>
            <li class="column promise-block__item">
              {% if section.settings.promise_2 %}
              <p>
                {{ section.settings.promise_2 }}
              </p>
              {% endif %}
            </li>
            <li class="column promise-block__item">
               {% if section.settings.promise_3 %}
                <p>
                  {{ section.settings.promise_3 }}
                </p>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_ambassador_section %}
<section class="instagram-block">
  <div class="container">
    {% if section.settings.ambassador_title %}
    <h2 class="has-text-centered">{{ section.settings.ambassador_title }}</h2>
    {% endif %}
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class="img-wrap">
          {% if section.settings.ambassador_1 %}
          	<img src="{{ section.settings.ambassador_1 | img_url: 'original' }}" alt="image description">
          {% endif %}
        </div>
      </div>
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class="img-wrap">
          {% if section.settings.ambassador_2 %}
          	<img src="{{ section.settings.ambassador_2 | img_url: 'original' }}" alt="image description">
          {% endif %}
        </div>
      </div>
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class="img-wrap">
          {% if section.settings.ambassador_3 %}
          <img src="{{ section.settings.ambassador_3 | img_url: 'original' }}" alt="image description">
          {% endif %}
        </div>
      </div>
      <div class="column is-one-quarter-desktop is-half-mobile">
        <div class="img-wrap">
          {% if section.settings.ambassador_4 %}
          	<img src="{{ section.settings.ambassador_4 | img_url: 'original' }}" alt="image description">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Ambassador page",
    "settings": [
		{
			"type":"header",
			"content": "Banner Section"
		},
		{
			"type": "checkbox",
			"id": "enable_banner_section",
			"label": "Enable Banner Section?"
		},
    {
			"type": "image_picker",
			"id": "bg_img",
			"label": "Banner Image"
		},
		{	
			"type": "text",
			"id": "banner_title",
			"label": "Banner Title"
		},
		{	
			"type": "text",
			"id": "banner_sub_title",
			"label": "Banner Sub Title"
		},
		{	
			"type": "text",
			"id": "banner_title_tag",
			"label": "Banner Title Tag"
		},
		{
			"type": "header",
			"content": "Promote Section"
		},
		{
			"type": "checkbox",
			"id": "enable_promote_section",
			"label": "Enable Promote Section?"
		},
		{
			"type": "text",
			"id": "promote_title",
			"label": "Promote Title"
		},
		{
			"type": "text",
			"id": "promote_button",
			"label": "Button"
		},
		{
			"type": "header",
			"content": "Quote Section"
		},
		{
			"type": "checkbox",
			"id": "enable_quote_section",
			"label": "Enable Quote Section?"
		},
		{
			"type": "textarea",
			"id": "quote_block",
			"label": "Add Quote"
		},
		{
			"type": "text",
			"id":"quote_name",
			"label": "Quote Name"
		},
		{
			"type": "text",
			"id": "quote_country",
			"label": "Add Country"
		},
		{
			"type": "image_picker",
			"id": "quote_img",
			"label": "Select Image"
		},
		{
			"type": "header",
			"content": "Promise Section"
		},
		{
			"type":"checkbox",
			"id": "enable_promise_section",
			"label": "Enable Promise Section?"
		},
		{
			"type": "text",
			"id": "promise_title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "promise_1",
			"label": "Promise 1"
		},
		{
			"type": "textarea",
			"id": "promise_2",
			"label": "Promise 2"
		},
		{
			"type": "textarea",
			"id": "promise_3",
			"label": "Promise 3"
		},
		{
			"type": "header",
			"content": "Ambassador Section"
		},
		{
			"type": "checkbox",
			"id": "enable_ambassador_section",
			"label": "Enable Ambassador Section?"
		},
		{
			"type": "text",
			"id": "ambassador_title",
			"label": "Title"
		},
		{
			"type": "image_picker",
			"id": "ambassador_1",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "ambassador_2",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "ambassador_3",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "ambassador_4",
			"label": "Image"
		}
		

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
