{% comment %}
{% if cart.item_count > 0 %}
<form action="/cart" method="post" novalidate class="cart table-wrap" id="cartform">
<section class="cart-section">
  <div  class="container">
      <div class="columns title-div-main">
        <div class="title-box">
          <h3>{{ 'cart.general.title' | t }}</h3>
        </div>
      </div>
      <div class="columns is-mobile cart-header">
        <div class="column is-5  text-left">
          <p class="text-uppercase">{{ 'cart.label.product' | t }}</p>
        </div>
        <div class="column is-2 col-lg-2 col-md-2 text-center mob-none">
          <p class="text-uppercase">{{ 'cart.label.price' | t }}</p>
        </div>
        <div class="column is-3 text-center">
          <p class="text-uppercase">{{ 'cart.label.quantity' | t }}</p>
        </div>
        <div class="column is-2 text-right">
          <p class="text-uppercase">{{ 'cart.label.total' | t }}</p>
        </div>
      </div>
      {% for item in cart.items %}
      <div class="cart-item">
        <div class="row cart-item-row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-left">
            <div class="item-box d-flex">
              <div class="cart-item-img-box">
                <a href="{{ item.url | within: collections.all }}">
                  <img class="cart-img" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>
              <div class="cart-item-name-box">
                <h5 class="product-title"><a href="{{ item.url }}" class="h4">{{ item.product.title }}</a></h5>
                <a class="remove-btn" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">{{ 'cart.general.remove' | t }}</a>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 text-center">
            <div class="price-itme-box">
              <p><b>{{ item.price | money }}</b><s>{{ item.compare_at_price | money }}</s></p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3  col-sm-4 col-4 text-center no-mob-padding">
            <div class="input-detail-div">
              <button class="add-minus-btn" type="" data-decrement-cart field='updates_{{ item.id }}'><i class="fa fa-minus"></i></button>
              <input class="input-detail" type="number" id="updates_{{ item.id }}"  name="updates[]" readonly id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="1">
              <button class="add-minus-btn" type=""  data-increment-cart field='updates_{{ item.id }}'><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4  col-4 text-right">
            <div class="total-price-itme-box">
              <p><b>{{ item.line_price | money }}</b></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
<section class="msg-total-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 gift-div">
<!--         <label class="ner"> IS THIS A GIFT? (Optional)
          <input type="checkbox" name="">
          <span class="checkmark"></span>
        </label> -->
        <div class="input-div-cart">
          <textarea class="cart-textarea" name="note" rows="5" placeholder="Gift Message"></textarea>
        </div>
        <p style="margin-top:15px;">Need Help? <a href="/pages/contact-us">Contact Us</a></p>			
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 total-cart-price text-right">
        <h5>{{ 'cart.general.subtotal' | t }} : &nbsp;<span><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></span></h5>
        <div class="cart-btn-div">
          <a href="/collections/all"><button class="cart-btn-shopping">Continue Shipping</button></a>
          <a href="/checkout"><button name="checkout" class="cart-btn-checkout">{{ 'cart.general.checkout' | t }}</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
</form>

<div class="shipping-calc d-none">
  <div  class="container">
    {% include 'cart-shipping-calculator' %}
  </div>
</div>

{% else %}
<section class="cart-section text-center">
  <div class="container">
    <h2>{{ 'cart.general.title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>
</section>
{% endif %}
{% endcomment %}
{% if cart.item_count > 0 %}
<form action="/cart" method="post" novalidate class="cart table-wrap" id="cartform">
<section class="cart-section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="cart-head">
          <h2>Shopping Cart</h2>
        </div>
      </div>
      <div class=" column is-12 cart-heading">
        <div class="columns align-item-center">
          <div class="column is-5 product-head">
            <p>{{ 'cart.label.product' | t }}</p>
          </div>
          <div class="column is-2 price-head">
            <p>{{ 'cart.label.price' | t }}</p>
          </div>
          <div class="column is-3 qty-head">
            <p>{{ 'cart.label.quantity' | t }}</p>
          </div>
          <div class="column is-2 total-head">
            <p>{{ 'cart.label.total' | t }}</p>
          </div>
        </div>
      </div>
      {% for item in cart.items %}
      <div class="column is-12 cart-items">
        <div class="columns align-item-center">
          <div class="column is-5 cart-product-div">
            <div class="product-image-div">
              <a href="{{ item.url | within: collections.all }}"><img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"></a>
            </div>
            <div class="product-text-div">
              <p class="label-name">My Fly</p>
              <h5 class="pro-name"><a href="{{ item.url }}">{{ item.product.title }}</a></h5>
              <a class="remove-pro" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
            </div>
		  </div>
          <div class="column is-2 cart-price-div">
            <p>{{ item.price | money }}<s>{{ item.compare_at_price | money }}</s></p>
		  </div>
          <div class="column is-3 cart-qty-div">
            <button class="minus-qty" type="" data-decrement-cart field='updates_{{ item.id }}'>-</button>
            <input class="quntity-input" type="text" id="updates_{{ item.id }}"  name="updates[]" readonly id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="1">
            <button class="plus-qty" type=""  data-increment-cart field='updates_{{ item.id }}'>+</button>
          </div>
          <div class="column is-2 cart-total-div">
            <p>{{ item.line_price | money }}</p>
          </div>
        </div>
      </div>
      {% endfor%}
<!--       <div class="column is-12 cart-items">
        <div class="columns align-item-center">
        	<div class="column is-5 cart-product-div">
          <div class="product-image-div">
            <a href="#"><img src="/images/featured4.jpg" alt=""></a>
          </div>
          <div class="product-text-div">
            <p class="label-name">My Fly</p>
            <h5 class="pro-name"><a href="#">Bag Personalized Carry-On Luggage</a></h5>
            <a class="remove-pro" href="#">Remove</a>
          </div>
        </div>
        	<div class="column is-2 cart-price-div">
          <p>$199.99</p>
        </div>
        	<div class="column is-3 cart-qty-div">
          <button class="minus-qty">-</button>
          <input class="quntity-input" type="text" readonly="readonly" value="1">
          <button class="plus-qty">+</button>
        </div>
        	<div class="column is-2 cart-total-div">
          <p>$199.99</p>
        </div>
        </div>
      </div> -->
      <div class="column is-12">
        <div class="cart-subtotal-div">
          <p><b>{{ 'cart.general.subtotal' | t }} :</b> &nbsp; {{ cart.total_price | money }}</p>
        </div>
        <div class="btn-checkout-div">
          <a class="outline-btn" href="/collections/all">Continue Shopping</a>
          <button type="submit" name="checkout" class="checkout-btn">{{ 'cart.general.checkout' | t }}</button>
        </div>
        <div class="payment-option">
          <p>Shipping & taxes calculated at checkout</p>
        </div>
      </div>
	</div>
  </div>
</section>
</form>
{% else %}
<section class="cart-section" style="padding:100px 0px;">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="cart-head" style="text-align:center;">
          <h2>Shopping Cart</h2>
          <p>Your Shop is Empty!</p>
        </div>
      </div>
       <div class="column is-12">
        <div class="btn-checkout-div" style="text-align:center;">
          <a class="outline-btn" href="/collections/all">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
  <section>
{% endif %}

{% schema %}
{
"name": "Cart",
	"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}