
{% if section.settings.collection_header_enable %}
<section class="hero is-marginless is-paddingless has-text-centered has-text-white" 
style="background-image:url('{{ section.settings.collection_banner | img_url : 'original' }}')">
{% comment %} <img src="{{ section.settings.collection_banner_mobile | img_url : 'original' }}" class="show-mobile" alt="image description"> {% endcomment %}
    <div class="hero-body top-banner">
        <div class="container">
            <div class="hero-text">
                <h1 class="hero-text__title">
                  {{ collection.title }}
                </h1>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="product-listing product_collection">
   

     <div class="block" id="tab_container">
        <div class="container_item is-active" data-item="1">
            <div class="fillter_top_div">
                <div class="container">
                    <div class="columns  is-mobile">
                        <div class="column is-three-third-desktop">
                            <div class="columns  is-mobile">
                                <div class="column is-full-desktop follter-main_item-dv">
                                    <div class="filter-item_div">
                                    <label>Show Items : </label>
                                    <ul class="fillter-item-ul">
                                        <li class="position-relative">
                                            <input type="radio" value="60" name="pagination_value" class="pagination-count" checked="">
                                            <label class="radio_container">60</label>
                                        </li>
                                        <li class="position-relative">
                                            <input type="radio" value="90" name="pagination_value" class="pagination-count">
                                            <label class="radio_container">90</label>
                                        </li>
                                        <li class="position-relative">
                                            <input type="radio" value="120" name="pagination_value" class="pagination-count">
                                            <label class="radio_container">120</label>
                                        </li>
                                    </ul>
                                    </div>
                                    
                                    <div class="fillter-div">
                                    <label>Sort by :</label>  
                                        <select name="SortBy" id="SortBy" data-default-sort="manual" class="collection-sort__input select-fillter">
                                            <option value="manual">Featured</option>
                                            <option value="best-selling">Best Selling</option>
                                            <option value="title-ascending">Alphabetically, A-Z</option>
                                            <option value="title-descending">Alphabetically, Z-A</option>
                                            <option value="price-ascending">Price, low to high</option>
                                            <option value="price-descending">Price, high to low</option>
                                            <option value="created-descending">Date, new to old</option>
                                            <option value="created-ascending">Date, old to new</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third-desktop is-half-mobile">
                            <ul class="grid-fillter text-center">
                                <li>
                                    <a class="view-product "><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/da5df19b.png?v=1590374137" alt="Wheels Below Retail"></a>
                                </li>
                                <li>
                                <a class="view-product" ><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/53339a30.png?v=1590374137" alt="Wheels Below Retail"></a>
                                </li>
                                <li>
                                <a class="view-product"><img src="https://cdn.shopify.com/s/files/1/0065/0048/3116/files/c53e9406.png?v=1590374136" alt="Wheels Below Retail"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section class="block-products-new">
                <div class="container">
                    <div class="columns  is-mobile">
                        <div class="column is-one-third-desktop is-half-mobile">
                            <div class="accordion-container">
                                <div class="set">
                                    <a href="#" class="active">
                                    Brands 
                                    <i class="fa fa-minus"></i>
                                    </a>
                                    <div class="content">
                                    {% for block in section.blocks  %}
                                        {% if block.type == "content"  %}
                                                <div class="checkbox_div"> {{ block.settings.brand }}
                                                <input type="checkbox" name="Brands" value="{{ block.settings.brand }}" class="coll-filter" {% if current_tags contains block.settings.brand  %}checked{% endif %} >
                                                <span class="check"></span>
                                            </div>                                        
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="set" class="active">
                                    <a href="#">
                                    Color
                                    <i class="fa fa-minus"></i>
                                    </a>
                                    <div class="content">
                                    {% for block in section.blocks  %}
                                        {% if block.type == "color"  %}
                                        <div class="checkbox_div"> {{ block.settings.color }}
                                            <input type="checkbox" name="Color" value="{{ block.settings.color }}" class="coll-filter" {% if current_tags contains block.settings.color  %}checked{% endif %}>
                                            <span class="check"></span>
                                        </div>        
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="set" >
                                    <a href="#" class="active">
                                    Size 
                                    <i class="fa fa-minus"></i>
                                    </a>
                                    <div class="content">
                                    {% for block in section.blocks  %}
                                        {% if block.type == "Size"  %}
                                        <div class="checkbox_div"> {{ block.settings.size }}
                                            <input type="radio" name="Size" value="{{ block.settings.size }}" class="coll-filter" {% if current_tags contains block.settings.size %}checked{% endif %}>
                                            <span class="check"></span>
                                        </div>        
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="set" >
                                    <a href="#" class="active">
                                    Price
                                    <i class="fa fa-minus"></i> 
                                    </a>
                                    <div class="content">
                                    {% for block in section.blocks  %}
                                        {% if block.type == "Price"  %}
                                        <div class="checkbox_div"> {{ block.settings.price }}
                                            <input type="radio" name="Price" value="{{ block.settings.price }}" class="coll-filter" {% if current_tags contains block.settings.price %}checked{% endif %}>
                                            <span class="check"></span>
                                        </div>        
                                        {% endif %}
                                    {% endfor %}
                                        {% comment %} <div class="checkbox_div"> Price 1
                                            <input type="checkbox" name="Price" value="" class="coll-filter">
                                            <span class="check"></span>
                                        </div>
                                        <div class="checkbox_div"> Price 2
                                            <input type="checkbox" name="Price" value="" class="coll-filter">
                                            <span class="check"></span>
                                        </div>
                                        <div class="checkbox_div"> Price 3
                                            <input type="checkbox" name="Price" value="" class="coll-filter">
                                            <span class="check"></span>
                                        </div>
                                        <div class="checkbox_div"> Price 4
                                            <input type="checkbox" name="Price" value="" class="coll-filter">
                                            <span class="check"></span>
                                        </div>
                                        <div class="checkbox_div"> Price 5
                                            <input type="checkbox" name="Price" value="" class="coll-filter">
                                            <span class="check"></span>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="column is-three-third-desktop is-half-mobile">
                            {% paginate collection.products by 12 %}
                                <div class="columns  is-mobile is-multiline allproducts">
                                    {% for product in collection.products %}
                                        <div class="column is-one-third-desktop is-half-mobile">
                                            <div class="product">
                                                <a href="{{ product.url }}">
                                                    <div class="product__img-wrap">
                                                    <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.title }}">
                                                    </div>
                                                </a>
                                                <div class="product__product-details">
                                                    <a href="{{ product.url }}"><h3 class="product__title">{{ product.title }}</h3></a>
                                                    <span class="product__price-tag">{{ product.price | money }}</span>
                                                    {% form 'product', product, data-productid: product.id %}
                                                    <!-- Begin ReCharge code -->
                                                    {% if product.available %}{% include 'subscription-product' %}{% endif %}
                                                    <!-- End ReCharge code -->
                                                        {% if product.available %}
                                                            <button type="submit" data-cart-add="{{ current_variant.id }}" class="button--small product__addtocart">add to cart</button>
                                                        {% else if %}
                                                            <button type="button" class="button--small product__addtocart">SOLD OUT</button>
                                                        {% endif %}
                                                    {% endform %}
                                                </div>
                                            </div>
                                        </div>
                                    {%endfor%}
                                </div>
                                {% if paginate.next %}
                                    <div class="col-12" id="more">
                                        <p>
                                            <a href="{{ paginate.next.url }}" class="btn-show-more m-auto">Show More</a>
                                        </p>
                                    </div>
                                {% endif %}
                            {% endpaginate %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container_item" data-item="2">2
        </div>
        <div class="container_item" data-item="3">3</div>
    </div>
</section>

{% schema %}
  {
    "name" : "collection",
    "settings" : [
      {
        "type" : "header",
        "content" : "Collection Layout"
      },
      {
        "type" : "checkbox",
        "id" : "collection_header_enable",
        "label" : "Collection Banner",
        "default" : false
      },
      {
        "type" : "image_picker",
        "id" : "collection_banner",
        "label" : "Collection Banner Image"
      },
      {
        "type" : "image_picker",
        "id" : "collection_banner_mobile",
        "label" : "Collection Banner Image Mobile"
      }
    ],
"blocks":[{
                "type" : "content",
                "name" : "Brand",
                "settings" : [
                    {
                        "type" : "text",
                        "id" : "brand",
                        "label" : "Tag Name"
                    }
                ]
            },
            {
                "type" : "color",
                "name" : "color",
                "settings" : [
                    {
                        "type" : "text",
                        "id" : "color",
                        "label" : "Tag Name"
                    }
                ]
            },
            {
                "type" : "Size",
                "name" : "Size",
                "settings" : [
                    {
                        "type" : "text",
                        "id" : "size",
                        "label" : "Tag Name"
                    }
                ]
            },
            {
                "type" : "Price",
                "name" : "Price",
                "settings" : [
                    {
                        "type" : "text",
                        "id" : "price",
                        "label" : "Tag Name"
                    }
                ]
            }
            ],
    "presets" : [
      {
        "name" : "Collection List",
        "category" : "Collection"
      }
    ]
    
  }
{% endschema %}