{% if section.settings.enable_complete_look %}
    <section class="block-products-new">
    <div class="container">
        {% if section.settings.complete_look_title %}
        <h2 class="is-uppercase has-text-centered">{{ section.settings.complete_look_title }}</h2>
        {% endif %}
        <div class="columns is-mobile is-multiline">
        {% for block in section.blocks %}
        {% assign product = all_products[block.settings.product] %}
        <div class="column  is-half-mobile">
            <div class="product">
            <div class="product__img-wrap">
                <a href="{{ product.url }}">
                <img src="{{ product.featured_image | img_url: 'original' }}" alt="image description">
                </a>
            </div>
            <div class="product__product-details">
                <h3 class="product__title">{{ product.title }}</h3>
                <span class="product__price-tag">{{ product.price | money }}</span>
                {% form 'product', product, data-productid: product.id %}
                <!-- Begin ReCharge code -->
                {% if product.available %}{% include 'subscription-product' %}{% endif %}
                <!-- End ReCharge code -->
                <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ product.id }}" class="product-form__variants no-js" style="display:none;">
                {% for variant in product.variants %}
                    {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                        {{ variant.title }}
                    </option>
                    {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <button type="submit" class="button--small product__addtocart">Add to cart</button>
                {% endform %}
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    </section>
{% endif %}

{% schema %}
  {
    "name": "Complete Look",
	"max_blocks": 4,
    "settings": [
		{
			"type": "header",
			"content": "Complete Look Section"
		},
		{
			"type": "checkbox",
			"id": "enable_complete_look",
			"label": "Enable Complete Look Section?"
		},
		{
			"type": "text",
			"id": "complete_look_title",
			"label": "Title"
		}
	],
	"blocks":[
		{
			"name": "Product",
			"type": "product",
			"settings":[
				{
                    "type": "product",
                    "id": "product",
                    "label": "Select Product"
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
