{% if section.settings.enable_banner_section %}
<section class="hero no-margin has-text-centered has-text-white shipping contact-us-banner" style="background-image:url('{{ section.settings.bg_img | img_url:'original' }}');" >
  <div class="hero-body shipping-banner">
    <div class="container">
      <div class="hero-text">
        {% if section.settings.banner_title %}
        <h1 class="hero-text__title has-text-black is-pulled-left">
          {{ section.settings.banner_title }}
        </h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.form_contact %}
<section class="contact-us">
  {% comment %}
  <div class="tabs is-centered" id="tab_header">
    <ul>
      <li class="item is-active" data-option="1"><a>contact us</a></li>
      <li class="item" data-option="2"><a>faq</a></li>
    </ul>
  </div>
  {% endcomment %}
  <div class="block container" id="tab_container">
    <div class="container_item is-active" data-item="1">

      <div class="columns">
        <div class="column is-three-fifths">
          {% if section.settings.contact_form_title %}
          <h2 class="text-has-black">
            {{ section.settings.contact_form_title }}
          </h2>
          {% endif %}
          {% form 'contact' %}
          
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

          {{ form.errors | default_errors }}
          <div class="form-contact-us">
            <div class="form-contact-us__form-field">
              <input type="text" name="contact[{{ name_attr }}]" id="" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" >
            </div>
            <div class="form-contact-us__form-field">
              <select class="form-contact-us__select-css" name="contact[email]" id="" >
                <option value="">{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}</option>
              </select>
            </div>
            <div class="form-contact-us__form-field">
              <input type="text" name="contact[address]" id="" placeholder="Address" value="{% if form.address %}{{ form.address }}{% elsif customer %}{{ customer.default_address }}{% endif %}" >
            </div>
            <div class="form-contact-us__form-field">
              <input type="text" name="contact[subject]" id="" placeholder="subject">
            </div>
            <div class="form-contact-us__form-field full-width">
              <input type="text" name="contact[message]" id="" placeholder="message">
            </div>
            <div class="form-contact-us__form-field field-margin">
              <input type="text" name="contact[number]" id="" placeholder="Phone number">
            </div>
            <div class="form-contact-us__form-field last-field">
              <input type="text" name="contact[provider]" id="" placeholder="provider">
            </div>
            <div class="get-estimate has-text-centered">
              <button class="button button--black is-pulled-left">get estimate</button>
            </div>
          </div>
          {% endform %}
        </div>
        <div class="column">
          <div class="chatbox">
            <div class="chatbox__withus">
              {% if section.settings.chat_with_title %}
              <h2>{{ section.settings.chat_with_title }}</h2>
              {% endif %}
              {% if section.settings.chat_note %}
              <p>{{ section.settings.chat_note }}</p>
              {% endif %}
              <a href="#" class="button button--black button--small">chat offline</a>
            </div>
            <div class="chatbox__contactus">
              {% if section.settings.contact_text_title %}
              <h2>{{ section.settings.contact_text_title }}</h2>
              {% endif %}
              <ul>
                {% if section.settings.phone_number %}
                <li>Call Toll-Free <a href="tel:{{ section.settings.phone_number }}">{{ section.settings.phone_number }}</a> </li>
                {% endif %}
                {% if section.settings.time_work %}
                <li>{{ section.settings.time_work }}</li>
                {% endif %}
                {% if section.settings.support_mail %}
                <li>{{ section.settings.support_mail }}</li>
              	{% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_item" data-item="2">
      {% if section.settings.faq_note %}
      {{ section.settings.faq_note }}
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Contact Us",
    "settings": [
		{
			"type": "header",
			"content": "Banner Section"
		},
		{
			"type": "checkbox",
			"id": "enable_banner_section",
			"label": "Enable Banner Section?"
		},
		{
			"type": "text",
			"id": "banner_title",
			"label": "Title"
		},
    {
			"type": "image_picker",
			"id": "bg_img",
			"label": "Banner Image"
		},
		{
			"type": "header",
			"content": "Contact Form"
		},
		{	
			"type": "checkbox",
			"id": "form_contact",
			"label": "Enable Form Section?"
		},
		{
			"type": "text",
			"id": "contact_form_title",
			"label": "TItle"
		},
		{
			"type": "header",
			"content": "Chat With Us"
		},
		{
			"type": "text",
			"id":"chat_with_title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "chat_note",
			"label": "Add Text"
		},
		{
			"type": "header",
			"content": "Contact Us"
		},
		{
			"type": "text",
			"id": "contact_text_title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "phone_number",
			"label": "Phone Number"
		},
		{
			"type": "text",
			"id": "time_work",
			"label": "Time"
		},
		{
			"type": "text",
			"id": "support_mail",
			"label": "Support Mail"
		},
		{
			"type": "header",
			"content": "FAQ"
		},
		{
			"type": "text",
			"id": "faq_note",
			"label": "FAQ Note"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
