{% if section.settings.enable_feature_new %}
{% assign collection = collections[section.settings.collection] %}
<section class="image-text">
    <div class="container">
        <section class="text-with-background " style="background-image:url('{{ section.settings.new_collection_image | img_url: 'original' }}')">
            <div class="container is-clearfix">
                <div class="text  is-pulled-right has-text-centered">
                    <h2 class="text__h2">{{section.settings.new_main_title}}</h2>
                    <h3 class="text__h3 is-uppercase">{{section.settings.new_sub_title}}</h3>
                    <h4 class="text__h4">{{section.settings.new_sub_title2}}</h4>
                    <a href="{{ collection.url | default: "#" }}" class="button--medium">shop now</a>
                </div>
            </div>
        </section>
    </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Featured New collection",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_feature_new",
        "label": "Enable New Collection"
      },
      {
        "type": "text",
        "id": "new_main_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "new_sub_title",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "new_sub_title2",
        "label": "Sub Title 2"
      },
      {
        "type": "image_picker",
        "id": "new_collection_image",
        "label": "Image"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured New collection",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
