

{% assign logo = section.settings.footer_logo | img_url: 'original' %}
{% assign logo_svg = settings.logo_svg %}
{% assign logo_width = section.settings.footer_logo_max_width %}

{% if section.settings.footer_enable %}
<footer id="footer" class="has-text-black">
  <div class="container">
      <div class="footer-bottom">
          <div class="columns  is-centered">
              <div class="column is-one-quarter-desktop is-full-mobile">
                  <div class="footer-logo is-mobile has-text-centered">
                      <a class="footer-logo__link" href="/">
                      {% if logo contains 'no-image' and logoSvg == blank %}
                        {{ shop.name | escape }}
                      {% elsif logoSvg == blank %}          
                        <img class="footer-logo__content image-content " src="{{ logo }}" alt="{{ shop.name | escape }}" style="max-width: {{ logo_width }}px;">
                      {% else %}          
                        <img class="footer-logo__content image-content " src="{{ logoSvg }}" alt="{{ shop.name | escape }}"  style="max-width: {{ logo_width }} px;max-height: 120px;">
                      {% endif %}
                      </a>
                  </div>
              </div>
              <div class="column  footer-nav">
                  <div class="columns is-mobile">
                      {% if section.settings.column1_enable %}
                        <div class="column is-one-third-mobile">
                            <div class="footer-menu footer--shop">
                                <strong class="footer-menu__title title is-uppercase">{{section.settings.column1_heading}}</strong>
                                <ul class="footer-menu__items">
                                {% for link in linklists[section.settings.footer_linklist1].links %}
                                    <li class="footer-menu__item">
                                      <a class="footer-menu__link" href="{{link.url}}">{{link.title}}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                      {% endif %}

                      {% if section.settings.column2_enable %}
                        <div class="column is-one-third-mobile">
                            <div class="footer-menu footer--about">
                                <strong class="footer-menu__title title is-uppercase">{{section.settings.column2_heading}}</strong>
                                <ul class="footer-menu__items">
                                    {% for link in linklists[section.settings.footer_linklist2].links %}
                                        <li class="footer-menu__item">
                                          <a class="footer-menu__link" href="{{link.url}}">{{link.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                      {% endif %}

                      {% if section.settings.column3_enable %}
                        <div class="column is-one-third-mobile">
                            <div class="footer-menu footer--service">
                                <strong class="footer-menu__title title is-uppercase">{{section.settings.column3_heading}}</strong>
                                <ul class="footer-menu__items">
                                    {% for link in linklists[section.settings.footer_linklist3].links %}
                                        <li class="footer-menu__item">
                                          <a class="footer-menu__link" href="{{link.url}}">{{link.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                       {% endif %}
                  </div>
              </div>
              {% if section.settings.newsletter_enable %}
                <div class="column newsletter-block is-clearfix">
                    <div class="newsletter-block__wrap is-pulled-right">
                        <strong class="newsletter-block__title title is-uppercase">{{section.settings.newsletter_heading}}</strong>
                        <form class="subscribe-form" action="#">
                            <input class="" type="email" placeholder="YOUR EMAIL ADDRESS">
                            <div class="subscribe-form__submit-wrap">
                                <input type="submit" value="join the mailing list">
                            </div>
                        </form>
                    </div>
                </div>
              {% endif %}
          </div>
      </div>

      <div class="footer-text  has-text-centered">
          <div class="social-networks">
              <ul class="social-networks__items">
            {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
              {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
              {% if settings[social_link] != blank %}
              <li class="social-networks__item">
                  <a 
                  title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" 
                  href="{{ settings[social_link] }}">{% include social_icon %}</a>
              </li>
              {% endif %}

            {% endfor %}
              </ul>
              <p class="social-networks__copyright">{{section.settings.copy_text}}</p>
          </div>
      </div> 
  </div>
</footer>
{% comment %}
  chirag
{% endcomment %}
{% endif %}

{% schema %}
  {
    "name" : "footer",
    "settings" : [
      {
        "type" : "header",
        "content" : "layout"
      },
      {
        "type": "checkbox",
        "id" : "footer_enable",
        "label" :  "Show Footer?",
        "default" : false
      },
      {
        "type": "image_picker",
        "id" : "footer_logo",
        "label" : "Footer Logo"
      },
      {
        "type": "range",
        "id": "footer_logo_max_width",
        "min": 5,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type" : "header",
        "content" : "Column 1" 
      },
      {
        "type" : "checkbox",
        "id" : "column1_enable",
        "label":"Show Column1?"
      },
      {
        "type" : "text",
        "id" : "column1_heading",
        "label" : "Heading column 1"
      },
      {
        "type" : "link_list",
        "id" : "footer_linklist1",
        "label" : "Select Column 1 Menu"
      },
      {
        "type" : "header",
        "content" : "Column 2" 
      },
      {
        "type" : "checkbox",
        "id" : "column2_enable",
        "label" : "Show Column 2?"
      },
      {
        "type" : "text",
        "id" : "column2_heading",
        "label" : "Heading column 2"
      },
      {
        "type" : "link_list",
        "id" : "footer_linklist2",
        "label" : "Select Column 2 Menu"
      },
      {
        "type" : "header",
        "content" : "Column 3" 
      },
      {
        "type" : "checkbox",
        "id" : "column3_enable",
        "label" : "Show Column 3?"
      },
      {
        "type" : "text",
        "id" : "column3_heading",
        "label" : "Heading column 3"
      },
      {
        "type" : "link_list",
        "id" : "footer_linklist3",
        "label" : "Select Column 3 Menu"
      },
      {
        "type" : "header",
        "content" : "Newsletter" 
      },
      {
        "type":"checkbox",
        "id" : "newsletter_enable",
        "label" : "Newsletter Enable"
      },
      {
        "type" : "text",
        "id" : "newsletter_heading",
        "label" : "Newsletter Heading",
        "default" : "KEEP UP WITH PUBLISH"
      },
      {
        "type": "checkbox",
        "id": "show_social_links",
        "label": "Show Social Links?",
        "default": true
      },
      {
        "type": "text",
        "id": "copy_text",
        "label": "Copy Rights Text"
      }     
    ]
  }
{% endschema %}