{% assign template_type = section.settings.template_type %}
{% assign homepage_transparent_header=section.settings.homepage_transparent_header %}
{% assign logo = section.settings.main_logo | img_url: '200x' %}
{% assign logo_light = section.settings.main_logo_light | img_url: '200x' %}
{% assign logo_width = section.settings.logo_max_width %}

<header id="header" class="site-header {% if homepage_transparent_header
%}header-transparent {%endif %} {% if section.settings.is_sticky
%}fixed-top{% endif %}" data-site-header data-section-id="{{ section.id }}"
    data-cart-type="{{ section.settings.cart_type }}" data-fixed-header="{% if section.settings.is_sticky%}true{% else %}false{%
endif %}" data-transparent-header="{{ homepage_transparent_header }}">

    {% if section.settings.topbar_enabled %}
    <div class="header-top has-background-black has-text-white has-text-centered
is-uppercase" data-top-bar style="background-color: {{
    section.settings.topbar_bg_color }}; color:
    {{section.settings.topbar_text_color}};">
        <div class="container">
            <div>
                <p class="text__content" style="min-height: {{
                section.settings.topbar_height }}px !important; font-size:
                {{section.settings.topbar_font_size}}px !important; color:
                {{section.settings.topbar_text_color}} !important">
                    {{section.settings.topbar_text}}</p>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="header-bottom has-background-white {% if template_type
=='centered-logo' %} centered-logo {% endif %}">
        <div class="container">
            {% case template_type %}
            {% when 'centered-logo' %}
            {% include 'navbar-centered-logo' %}
            {% else %}
            {% include 'navbar-default' %}
            {% endcase %}
        </div>
    </div>
</header>

{% schema %}
{
"name": "Header",
"settings": [
{
"type": "header",
"content": "Template"
},
{
"type": "select",
"id": "template_type",
"label": "Template Type",
"options": [
{
"value": "default",
"label": "Logo Left"
},
{
"value": "centered-logo",
"label": "Logo Centered"
}
],
"default": "default"
},
{
"type": "header",
"content": "Layout"
},
{
"type": "checkbox",
"id": "fluid_header",
"label": "Full Width Header?",
"default": false
},
{
"type": "checkbox",
"id": "is_sticky",
"label": "Sticky Header?",
"default": false
},
{
"type": "header",
"content": "Styling"
},
{
"type": "checkbox",
"id": "homepage_transparent_header",
"label": "Transparent Header at Homepage?",
"default": false
},
{
"type": "header",
"content": "Cart Button"
},
{
"type": "select",
"id": "cart_type",
"label": "Select Button Action",
"options": [
{
"value": "cart_page",
"label": "Link to cart page"
},
{
"value": "cart_dropdown",
"label": "Mini cart as dropdown"
},
{
"value": "cart_drawer",
"label": "Mini cart as right drawer"
}
],
"default": "cart_page"
},
{
"type": "header",
"content": "Top Bar"
},
{
"type": "checkbox",
"id": "topbar_enabled",
"label": "Enabled?",
"default": false
},
{
"type": "html",
"id": "topbar_text",
"label": "Message"
},
{
"type": "color",
"id": "topbar_bg_color",
"label": "Background Color",
"default": "#000000"
},
{
"type": "color",
"id": "topbar_text_color",
"label": "Text Color",
"default": "#ffffff"
},
{
"type": "range",
"id": "topbar_height",
"label": "Minimum Height",
"min": 10,
"max": 100,
"step": 1,
"unit": "px",
"default": 20
},
{
"type": "range",
"id": "topbar_font_size",
"min": 1,
"max": 30,
"step": 1,
"unit": "px",
"label": "Font Size",
"default": 1
},
{
"type": "header",
"content": "Menu"
},
{
"type": "link_list",
"id": "main_linklist",
"label": "Select Menu",
"default": "main-menu"
},
{
"type": "image_picker",
"id": "main_logo",
"label": "Select main logo"
},
{
"type": "image_picker",
"id": "main_logo_light",
"label": "Select logo for dark backgrounds"
},
{
"type": "range",
"id": "logo_max_width",
"min": 5,
"max": 300,
"step": 5,
"unit": "px",
"label": "Logo width",
"default": 180
},
{
"type": "image_picker",
"id": "favicon_image",
"label": "Favicon"
},
{
"type": "image_picker",
"id": "favicon_image_retina",
"label": "Favicon retina image"
}
],
"blocks": [
{
"type": "megamenu",
"name": "Megamenu",
"settings": [
{
"type": "text",
"id": "megamenu_handle",
"label": "Menu handle"
},
{
    "type": "link_list",
    "id": "megamenu_linklist",
    "label": "Select Menu",
    "default": "main-menu"
},
{
    "type": "header",
    "content": "Banner Menu"
},
{
    "type": "image_picker",
    "id": "img_banner",
    "label": "Banner Image"
},
{
    "type": "text",
    "id": "heading_txt",
    "label": "Heading"
},
{
    "type": "text",
    "id": "btn_text",
    "label": "Button Text"
},
{
    "type": "url",
    "id": "btn_url",
    "label": "Button Url"
},
{
    "type": "header",
    "content": "Collection Menu"
},
{
    "type": "text",
    "id": "slider_head",
    "label": "Heading"
},
{
    "type": "collection",
    "id": "choose_collection",
    "label": "Collection"
}
]
}
]
}
{% endschema %}