{% if section.settings.enable_section %}
<section class="image-text">
  <div class="container">
    <section class="text-with-background" style="background-image:url('{{ section.settings.imageforbannerbaby.src | img_url: 'large' }}')"​​​​​​ >
      <div class="container is-clearfix">
        <div class="text  is-pulled-right has-text-centered">
          {% if section.settings.title_1 %}
          <h2 class="text__h2">{{ section.settings.title_1 }}</h2>
          {% endif %}
          {% if section.settings.title_2 %}
          <h3 class="text__h3 is-uppercase">{{ section.settings.title_2 }}</h3>
          {% endif %}
          {% if section.settings.sub_title %}
          <h4 class="text__h4">{{ section.settings.sub_title }}</h4>
          {% endif %}
          {% if section.settings.button %}
          <a href="collections/jumpers" class="button--medium">{{ section.settings.button }}</a>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Index Baby Boy",
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
			"type": "text",
			"id": "title_1",
			"label": "Title 1"
		},
		{
			"type": "text",
			"id": "title_2",
			"label": "Title 2"
		},
		{
			"type": "text",
			"id": "sub_title",
			"label": "Sub Title"
		},
		{
			"type": "image_picker",
			"id": "imageforbannerbaby",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "button",
			"label": "Button"
		}
	],
	"presets": [
		{
			"name": "Index Baby Boy",
			"category": "Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
