{% if section.settings.index_slider_enable %}
    <section class="has-text-centered has-text-white">
        <div class="Modern-Slider">
            {% for block in section.blocks %}
            <div class="item">
                <div class="img-fill">
                    <img src="{{ block.settings.slider_images | img_url:'original' }}" >
                    {% comment %} {% if section.settings.mobileimage!= blank %}
                    <img src="{{ block.settings.slider_mobile_images | img_url:'original' }}" class="show-mobile">
                    {% else %}
                    <img src="{{ block.settings.slider_images | img_url:'original' }}" class="hide-mobile">
                    {% endif %} {% endcomment %}

                
                    <div class="hero-body">
                        <div class="container">
                            <div class="hero-text">
                                <h1 class="hero-text__title">
                                    {{ block.settings.slider_main_text }}
                                </h1>
                                <h2 class="hero-text__ subtitle is-uppercase">
                                    {{ block.settings.slider_sec_text }}
                                </h2>
                                <a href="{{ block.settings.slider_button_url }}" class="button button--border button--black">{{ block.settings.slider_button_txt }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    {% comment %} <section class="hero has-text-centered has-text-white" style="background-image:url('assets/images/banner.jpg')">
        <div class="hero-body">
            <div class="container">
                <div class="hero-text">
                    <h1 class="hero-text__title">
                        new stuffs<br>every week
                    </h1>
                    <h2 class="hero-text__ subtitle is-uppercase">
                        get your favorite<br>soaesthetic products
                    </h2>
                    <a href="#" class="button button--border button--black">get it now!</a>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

{% endif %}

{% schema %}
    {
        "name" : "Index-Slider",
        "settings":[
            {
                "type": "header",
                "content": "layout"
            },
            {
                "type" : "checkbox",
                "label" : "Slider Enable",
                "id" : "index_slider_enable",
                "default" : true
            }
            ],
            "blocks":[{
                "type" : "content",
                "name" : "Slider Images",
                "settings" : [
                    {
                        "type" : "image_picker",
                        "id" : "slider_images",
                        "label" : "Slider Image"
                    },
                    {
                        "type" : "image_picker",
                        "id" : "slider_mobile_images",
                        "label" : "Slider Mobile Image"
                    },
                    {
                        "type" : "text",
                        "id" : "slider_main_text",
                        "label" : "Primary Text"
                    },
                    {
                        "type" : "text",
                        "id" : "slider_sec_text",
                        "label" :"Secoundy Text"
                    },
                    {
                        "type":"text",
                        "id":"slider_button_txt",
                        "label":"Button Label"
                    },
                    {
                        "type" :"url",
                        "id":"slider_button_url",
                        "label" : "Button URL"
                    }
                ]

            }],
            "presets":[
                {
                    "name" : "Homepage Slider",
                    "category" : "Homepage"
                }
            ]
    }
{% endschema %}