{% if section.settings.enable_shop_all_collection %}
<section class="featured-collections">
    <div class="container">
        <h2>{{section.settings.shop_all_heading}}</h2>
        {% assign blocksize = section.blocks | size %}
        {% if blocksize > 0 %}
        <div class="row">
        {% for block in section.blocks %}
            {% assign collection = collections[block.settings.collection] %}
           
                <div class="col">
                    <div class="col-wrap">
                        {% if block.settings.collection_image != blank %}
                            <img src="{{block.settings.collection_image | img_url:'650x' }}" alt="{{collection.name}}">
                        {% else %}
                            <img src="{{ collection.image | img_url:'650x' }}" >
                        {% endif %}
                        <div class="text">
                            {% if block.settings.collection_image != blank %}
                               <h3>{{block.settings.collection_name}}</h3>
                            {% else %}
                                <h3>{{collection.name}}</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}   
        </div>
        {% endif %}
        <div class="btn-wrap">
            <a href="{{section.settings.shopall_button_url}}" class="button button__border__bottom">{{section.settings.shopall_button_text}}</a>
        </div>
    </div>
</section>
    

<section class="block-add_sales">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half-desktop is-full-mobile">
                <div class="sales-img">
                    <img src="assets/images/img-summersales1.jpg" alt="">
                </div>
            </div>
            <div class="column">
                <div class="sales-img">
                    <img src="assets/images/img-summersales2.jpg" alt="">
                </div>
            </div>
            <div class="column">
                <div class="sales-img">
                    <img src="assets/images/img-summersales3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}


{% schema %}
    {
        "name" : "shop all",
        "settings" : [
            {
                "type" : "header",
                "content" : "layout"
            },
            {
                "type" : "checkbox",
                "id" : "enable_shop_all_collection",
                "label" : "Shop Shop All Collection",
                "default" : false
            },
            {
                "type" : "text",
                "id" : "shop_all_heading",
                "label" : "Heading Label",
                "default" : "shop the collections"
            }
        ],
        "blocks" : [
            {
                "type" : "collection",
                "name" : "Collection",
                "settings" : [
                    {
                        "type" : "collection",
                        "id" : "shop_all_collection",
                        "label" : "Select Collection"
                    },
                    {
                        "type" : "image_picker",
                        "id" : "collection_image",
                        "label" : "Collection Image"
                    },
                    {
                        "type" : "text",
                        "id" : "collection_name",
                        "label" : "Collection Name"
                    }
                ]
            }
        ],
        "presets" : [
            {
                "name" : "Shop All Collection",
                "category" : "Homepage"
            }
        ]
    }
{% endschema %}