{% if section.settings.enable_new_item %}
    <section class="block-products-new">
        <div class="container">
            <h2 class="is-uppercase has-text-centered">{{section.settings.title_all_new}}</h2>
            <div class="columns is-mobile is-multiline">
                {% for item in section.blocks %}
                {% assign product = all_products[item.settings.new_product] %}
                {%- assign current_variant = product.selected_or_first_available_variant -%}
                {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
                    <div class="column  is-half-mobile">
                        <div class="product">
                            <a href="{{product.url}}">
                                <div class="product__img-wrap">
                                    <img id="product-img-{{product.id}}" src="{{featured_image | img_url:'original' }}" alt="">
                                </div>
                            </a>
                            <div class="product__product-details">
                                <a href="{{product.url}}"><h3 class="product__title">{{ product.title | default: onboarding_title }}</h3></a>
                                <div class="price" data-price="{{-current_variant.price-}}">
                                {%- if product.available -%}
                                
                                
                                <span class="price-new money">{{current_variant.price | money}}</span>&nbsp;&nbsp;&nbsp;
                                    {%- if current_variant.compare_at_price > current_variant.price -%}
                                        <span class="price-old money">{{current_variant.compare_at_price | money}}</span>
                                    {%- endif -%}
                                {%- else -%}
                                <span class="price-old">{{'products.product.sold_out' | t}}</span>
                                {%- endif -%}
                                </div>
                                {%- assign current_variant = product.selected_or_first_available_variant -%}
                                <form action="/cart/add"
                                    method="POST"
                                    enctype="multipart/form-data"
                                    data-cart-submit="data-cart-submit"
                                    data-product-id="{{ current_variant.id }}"
                                    class="c-productList__form">  
                                   <select class="form-control form_txt " name="id" id="product-select-{{current_variant.id}}" style="display:none;">
                                    {% for variant in product.variants %}
                                        <option {% if variant == product.selected_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }}</option>
                                    {% endfor %}
                                    </select>
                                        {% if product.available and product.variants.size > 1 %}
                                            {% include 'swatch' for product.options as swatch %}
                                        {% endif %}
                                        {% if product.available %}
                                            <button type="submit" data-cart-add="{{ current_variant.id }}" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="button--small product__addtocart cart-block__cart  js-cartCanvas">add to cart</button>
                                        {% else if %}
                                        <button type="button" class="button--small product__addtocart">SOLD OUT</button>
                                        {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<script>

</script>
{% schema %}
    {
        "name" : "New Item In collection",
        "settings" : [
            {
                "type" : "checkbox",
                "id" : "enable_new_item",
                "label" : "Enable New Item in Collection"
            },
            {
                "type" : "text",
                "id" : "title_all_new",
                "label" : "Title"
            }
        ],
        "blocks" : [
            {
                "type"  : "content",
                "name" : "New In Shop Items",
                "settings" : [
                    {
                        "type": "product",
                        "id": "new_product",
                        "label": "Product"
                    }
                ]
            }
        ],
        "presets" : [
            {
                "name" : "NEW IN SO AESTHETIC SHOP",
                "category" : "Homepage"
            }
        ]
    }
{% endschema %}