{% if section.settings.enable_section %}
<section class="block-add_sales">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-half-desktop is-full-mobile">
        {% if section.settings.sales_1_banner %}
        <a href="{{ section.settings.sales_1_url }}">
          <div class="sales-img">
          	<img src="{{ section.settings.sales_1_banner | img_url:'original' }}" alt="">
          </div>
        </a>
        {% endif %}
      </div>
      <div class="column">
        {% if section.settings.sales_2_banner %}
        <a href="{{ section.settings.sales_2_url }}">
          <div class="sales-img">
            <img src="{{ section.settings.sales_2_banner | img_url:'original' }}" alt="">
          </div>
        </a>
        {% endif %}
      </div>
      <div class="column">
        {% if section.settings.sales_3_banner %}
        <a href="{{ section.settings.sales_3_url }}">
          <div class="sales-img">
            <img src="{{ section.settings.sales_3_banner | img_url:'original' }}" alt="">
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Index Collection Grid",
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
			"type": "image_picker",
			"id": "sales_1_banner",
			"label": "Banner"
		},
		{
			"type": "url",
			"id": "sales_1_url",
			"label": "Banner Url"
		},
		{
			"type": "image_picker",
			"id": "sales_2_banner",
			"label": "Banner"
		},
		{
			"type": "url",
			"id": "sales_2_url",
			"label": "Banner Url"
		},
		{
			"type": "image_picker",
			"id": "sales_3_banner",
			"label": "Banner"
		},
		{
			"type": "url",
			"id": "sales_3_url",
			"label": "Banner Url"
		}
	],
	"presets":[
		{
			"name": "Index Colletion Grid",
			"category": "Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
