{% if section.settings.enable_section %}
<section class="text-block-rating">
  <div class="container">
    <div class="rating">
      {% if section.settings.note %}
      <h2 class="rating__title subtitle">{{ section.settings.note }}</h2>
      {% endif %}
      <ul class="rating__stars">
        {% for block in section.blocks %}
        {% assign star_img = block.settings.star_img %}
        <li><a href=""><img src="{{ star_img | img_url: 'original' }}" alt=""></a></li>
        {% endfor %}
      </ul>
      <div class="rating__logo-wrap">
        {% if section.settings.brand_logo %}
        <img src="{{ section.settings.brand_logo | img_url:'original' }}" alt="instyle">
      	{% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Index Rating",
	"max_blocks":5,
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
			"type": "text",
			"id":"note",
			"label":"Note"
		},
		{
			"type": "image_picker",
			"id": "brand_logo",
			"label": "Select Brand"
		}
	],
	"blocks":[
		{
			"type": "rating",
			"name": "rating",
			"settings":[
				{
					"type": "image_picker",
					"id": "star_img",
					"label": "Star Icon"
				}
			]
		}
	],
	"presets":[
		{
			"name": "Index Rating",
			"category":"text"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
