{% if section.settings.enable_section %}
<section class="product-collections">
  <div class="container">
    {% if section.settings.title %}
    <h2 class="is-uppercase has-text-centered">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="columns">
      {% for block in section.blocks %}
      {% assign collection_title = collections[block.settings.collection].title %}
      {% assign collection_image = collections[block.settings.collection].image %}
      {% assign collection_url = collections[block.settings.collection].url %}
      {% assign collection_button = block.settings.button %}
      <div class="column">
        <a href="{{ collection_url }}">
          <div class="categories">
            <div class="categories__image-wrap">
              <img src="{{ collection_image | img_url: 'original' }}" alt="{{ collection_title }}">
            </div>
            <div class="categories__wrap">
              <h3 class="categories__title">{{ collection_title }}</h3>
              <span class="categories__shop-now">{{ collection_button }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Index collection",
	"max_blocks":3,
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	],
	"blocks":[
		{
			"type":"Collection",
			"name": "collection",
			"settings":[
				{
					"type":"collection",
					"id":"collection",
					"label":"Select Collection"
				},
				{
					"type": "text",
					"id": "button",
					"label": "Button"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Index Collection",
			"category": "Collection"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
