{% if section.settings.enable_section %}
<section class="instagram-block">
  <div class="container">
    {% if section.settings.title %}
    <h2 class="has-text-centered">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.tag_line %}
    <h4 class="sub-title has-text-centered">{{ section.settings.tag_line }}</h4>
    {% endif %}
    <div class="columns is-multiline is-mobile">
      {% for block in section.blocks %}
      {% assign instragram_img = block.settings.instragram_img %}
      {% assign shop_url = block.settings.shop_url %}
      <div class="column is-one-quarter-desktop is-one-quarter-tablet is-half-mobile">
        <a href="{{ shop_url }}">
		<div class="img-wrap">
			<img src="{{ instragram_img | img_url: 'original' }}" alt="{{ shop.name }}">
		</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Index Instagram Shop",
	"max_blocks":8,
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
			"type":"text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "tag_line",
			"label": "Sub Title"
		}
	],
	"blocks": [
		{
			"name": "banner",
			"type": "banner",
			"settings":[
				{
					"type": "image_picker",
					"id": "instragram_img",
					"label": "Add Image"
				},
				{
					"type": "url",
					"id": "shop_url",
					"label": "Add Url"
				}
			]
			
		}
	],
	"presets": [
		{
			"name": "Index Instagram Shop",
			"category": "Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
