{% if section.settings.index_insta_enable %}
<section class="instagram-block">
    <div class="container">
        <h2 class="has-text-centered">{{ section.settings.insta_title }}</h2>
        <h4 class="sub-title has-text-centered">@{{ section.settings.insta_sub_title }}</h4>
        <div class="columns is-multiline is-mobile">
            {% for block in section.blocks limit:8 %}
            <div class="column is-one-quarter-desktop is-one-quarter-tablet is-half-mobile">
                <div class="img-wrap insta-img">
                    <img src="{{ block.settings.insta_image | img_url: 'original' }}" alt="image description">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% schema %}
    {
        "name" : "Instagram",
        "settings" : [
            {
                "type" : "checkbox",
                "id" : "index_insta_enable",
                "label" : "Enable Instagram"
            },
            {
                "type" : "text",
                "id" : "insta_title",
                "label" : "Title"
            },
            {
                "type" : "text",
                "id" : "insta_sub_title",
                "label" : "Sub Title"
            },
            {
                "type" : "text",
                "id" : "insta_token",
                "label" : "Instagram token"
            },
            {
                "type" : "text",
                "id" : "insta_limit",
                "label" : "Instagram limit images"
            }
        ],
        "blocks" : [
            {
                "type"  : "insta_img",
                "name" : "Instagram Images",
                "settings" : [
                    {
                        "type": "image_picker",
                        "id": "insta_image",
                        "label": "Image"
                    }
                ]
            }
        ],
        "presets" : [
            {
                "name" : "Instagram",
                "category" : "Homepage"
            }
        ]
    }
{% endschema %}
