{% if section.settings.new_coll_enable %}
<section class="product-collections">
    <div class="container">
        <h2 class="is-uppercase has-text-centered">{{section.settings.new_coll_heading}}</h2>
        <div class="columns">
            {% for block in section.blocks %}
            {% assign collection = collections[block.settings.new_collection_col] %}
             {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
                <div class="column">
                    <div class="categories">
                        <div class="categories__image-wrap">
                        {% if block.settings.new_colelction_image != blank %}
                            <img src="{{block.settings.new_colelction_image | img_url:'650x' }}" alt="{{collection.name}}">
                        {% else %}
                            <img src="{{ collection.image | img_url:'650x' }}" >
                        {% endif %}
                        </div>
                        <div class="categories__wrap">
                            <h3 class="categories__title">{{block.settings.new_colelction_text}}</h3>
                            <a href="{{ collection.url | default: "#" }}"><span class="categories__shop-now">shop now</span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}


{% schema %}
    {
        "name" : "New Collection",
        "settings" : [
            {
                "type" : "header",
                "content" : "layout"
            },
            {
                "type" : "checkbox",
                "id" : "new_coll_enable",
                "label" : "Enable New Collection",
                "default" : true
            },
            {
                "type" : "text",
                "id" : "new_coll_heading",
                "label" : "Section Heading"
            }
        ],
        "blocks" : [
            {
                "type"  : "content",
                "name" : "New Collection",
                "settings" : [
                {
                    "type" : "collection",
                    "id" : "new_collection_col",
                    "label" : "Select Collection"
                },
                {
                    "type" : "image_picker",
                    "id" : "new_colelction_image",
                    "label" : "Collection Image"
                },
                {
                    "type" : "text",
                    "id" : "new_colelction_text",
                    "label" : "Title"
                }]
            }
        ],
        "presets" : [
            {
                "name" : "New Collection",
                "category" : "Homepage"
            }
        ]
    }
{% endschema %}