{% if section.settings.enable_section %}
<section class="index-banner-section">
<div class="index-banner-slider">
  	{% for block in section.blocks limit:3 %}
  	{% assign banner_img = block.settings.banner_img %}
  	{% assign banner_title = block.settings.banner_title %}
  	{% assign banner_sub_title = block.settings.tag_line %}
  	{% assign banner_button = block.settings.button %}
	<div class="hero has-text-centered index-banner has-text-white" style="background-image: url('{{ banner_img | img_url:'original' }}');">
      <div class="hero-body">
        <div class="container">
          <div class="hero-text">
            <h1 class="hero-text__title">
              {{ banner_title }}
            </h1>
            <h2 class="hero-text__ subtitle is-uppercase">
              {{ banner_sub_title }}
            </h2>
            <a href="{{ button_url }}" class="button button--border button--black">{{ banner_button }}</a>
           
          </div>
        </div>
      </div>
    </div>
	{% endfor %}
  </div>
</section>
<style>
  .index-banner .hero-text .hero-text__title{
      color:{{ section.settings.head_txt_color }} !important;
      font-size:{{ section.settings.head_txt_size }} !important;
  }
</style>
{% endif %}
{% schema %}
  {
    "name": "Index Banner",
	"max_blocks":3,
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
      "type":"color",
      "id": "head_txt_color",
      "label": "Slide Heading Text Color"
    },
    {
      "type":"color",
      "id": "head_txt_size",
      "label": "Slide Heading Text Size"
    }
	],
	"blocks":[
		{
			"type":"banner",
			"name": "Banner",
			"settings":[
				{
            "type": "image_picker",
            "id": "banner_img",
            "label": "Image"
        },
				{
            "type": "text",
            "id": "banner_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "tag_line",
            "label": "Sub Title"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button"
        },
				{
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        }
			]			
		}
	],
	"presets": [
		{
			"name": "Index Banner",
			"category": "Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
