{% if section.settings.enable_section %}
<section class="block-products-new">
   <div class="container">
     {% if section.settings.title %}
     <h2 class="is-uppercase has-text-centered">{{ section.settings.title }}</h2>
     {% endif %}
     <div class="columns is-mobile is-multiline">
       {% for block in section.blocks %}
       {% assign product = all_products[block.settings.product] %}
       {% assign product_image = all_products[block.settings.product].featured_image %}
       {% assign product_title = all_products[block.settings.product].title %}
       {% assign product_url = all_products[block.settings.product].url %}
       {% assign product_price = all_products[block.settings.product].price %}
       {% assign product_button = block.settings.button %}
       <div class="column  is-half-mobile">
         <div class="product">
            <a href="{{ product_url }}">
              <div class="product__img-wrap">
             <img src="{{ product_image | img_url: 'original' }}" alt="{{ product_title }}">
              </div>
           </a>
           <div class="product__product-details">
             <a href="{{ product_url }}"><h3 class="product__title">{{ product_title }}</h3></a>
             <span class="product__price-tag">{{ product_price | money }}</span>
             {% form 'product', product, data-productid: product.id %}
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->

               <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ product.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
               </select>
               <button type="submit" class="button--small product__addtocart">{{ product_button }}</button>
             {% endform %}
           </div>
         </div>
       </div>
       {% endfor %}
     </div>
   </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Index Product 2",
	"max_blocks":4,
    "settings": [
		{
			"type": "checkbox",
			"id": "enable_section",
			"label": "Enable Section?"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
	],
	"blocks":[
		{
			"type":"Product",
			"name":"Product",
			"settings":[
				{
					"type": "product",
					"id": "product",
					"label": "Select Product"
				},
				{
					"type": "text",
					"id": "button",
					"label": "Button"
				}
			]
		}
	],
	"presets":[
		{
			"name": "Index Product 2",
			"category": "Product"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

