{% if section.settings.review_enable %}
    <section class="text-block-rating">
        <div class="container">
            <div class="rating">
                <div class="logo-slider">
                    {% for item in section.blocks %}
                        <h2 class="rating__title subtitle">{{item.settings.review_title}}</h2>
                        <ul class="rating__stars">
                            {% assign n = item.settings.review_starts %}
                            {% for i in (1..n) %}
                                <li><img src="//cdn.shopify.com/s/files/1/0242/4229/0740/files/star.png?5018" alt=""></li>
                            {% endfor %}
                        </ul>
                        <div class="rating__logo-wrap">
                            <img src="{{item.settings.review_image | img_url : 'original' }}" alt="instyle">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
    {
        "name" : "Review",
        "settings" : [
            {
                "type" : "checkbox",
                "id" : "review_enable",
                "label" : "Enable Review",
                "default" : true
            }],
            "blocks" : [
                {
                    "name" : "Review",
                    "type" : "content",
                    "settings" : [
                        {
                            "type" : "text",
                            "id" : "review_title",
                            "label" : "Review Title"
                        },
                        {
                            "type" : "text",
                            "id" : "review_starts",
                            "label" : "Star Count"
                        },
                        {
                            "type" : "image_picker",
                            "id" : "review_image",
                            "label" : "Reviewer Image"
                        }
                    ]
                }
            ],
            "presets" : [
                {
                    "name" : "Image Review",
                    "category" : "Homepage"
                }
            ]
    }
{% endschema %}