
{% if section.settings.collection_header_enable %}
<section class="hero is-marginless is-paddingless has-text-centered has-text-white" 
style="background-image:url('{{ section.settings.collection_banner | img_url : 'original' }}')">
{% comment %} <img src="{{ section.settings.collection_banner_mobile | img_url : 'original' }}" class="show-mobile" alt="image description"> {% endcomment %}
    <div class="hero-body top-banner">
        <div class="container">
            <div class="hero-text">
                <h1 class="hero-text__title">
                   {{ section.settings.Banner_text }}
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="product-listing">
    {% comment %}
    <div class="tabs is-centered" id="tab_header">
        <ul class="tab-list">
            {% assign i = 0 %}
            {% for block in section.blocks %}
            {% assign collection = collections[block.settings.collection] %}
                <li class="tab-list__item" data-option="{{ i }}"><a href="{{ collection.url | default: "#" }}" 
                class="tab-list__link">{{collection.title}}</a></li>
               {% assign i = i | plus: 1 %}
            {% endfor %}
        </ul>
    </div>
    {% endcomment %}

     <div class="block" id="tab_container">
        <div class="container_item is-active" data-item="1">
            <section class="block-products-new">
                <div class="container">
                    <div class="columns  is-mobile is-multiline">
                                {% for collection in collections %}
                                    <div class="column is-one-quarter-desktop is-half-mobile">
                                        <div class="product">
                                            <a href="{{ collection.url }}">
                                            <div class="product__img-wrap">
                                                <img src="{{ collection.image | img_url:'original' }}" alt="">
                                            </div>
                                            </a>
                                            <div class="product__product-details">
                                                <a href="{{ collection.url }}"><h3 class="product__title">{{ collection.title }}</h3></a>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                    
                </div>
            </section>
        </div>
        <div class="container_item" data-item="2">2
        </div>
        <div class="container_item" data-item="3">3</div>
    </div>
</section>
{% endif %}

{% schema %}
  {
    "name" : "collection",
    "settings" : [
      {
        "type" : "header",
        "content" : "Collection Layout"
      },
      {
        "type" : "checkbox",
        "id" : "collection_header_enable",
        "label" : "Collection Banner",
        "default" : false
      },
      {
        "type" : "image_picker",
        "id" : "collection_banner",
        "label" : "Collection Banner Image"
      },
      {
        "type" : "image_picker",
        "id" : "collection_banner_mobile",
        "label" : "Collection Banner Image Mobile"
      },
      {
        "type" : "text",
        "id" : "Banner_text",
        "label" : "Collection Banner Text"
      }
    ],
    "presets" : [
      {
        "name" : "Collection List",
        "category" : "Collection"
      }
    ]
  }
{% endschema %}