{% assign handleMain = collection.handle %}
{% paginate collection.products by 8 %}
{% if section.settings.enable_shop_section %}
<section class="product-listing">
  <div class="tabs is-centered" >
    <ul class="tab-list">
      {% for block in section.blocks %}
      	<li class="tab-list__item {% if handleMain contains collections[block.settings.collection].handle %}is-active{% endif %}" data-option="{{ forloop.index }}"><a href="{{ collections[block.settings.collection].handle }}" class="tab-list__link">{{ collections[block.settings.collection].title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="block" id="tab_container">
    	<div class="container_item {% if handleMain contains collections[block.settings.collection].handle %}is-active{% endif %}" data-item="{{ forloop.index }}">
          <section class="block-products-new">
            <div class="container">
              <h2 style="line-height:42px;">{{ collection.title }} <select class="is-pulled-right block-products-new__select" name="" id="">
                <option value="">filter by</option>
                </select></h2>
              <div class="columns  is-mobile is-multiline">
                {% for product in collection.products %}
                	<div class="column is-one-quarter-desktop is-one-quarter-tablet is-half-mobile">
                  <div class="product">
                    <a href="{{ product.url }}">
                    <div class="product__img-wrap">
                      <img src="{{ product.featured_image | img_url:'500x' }}" alt="{{ product.title }}">
                    </div>
                    </a>
                    <div class="product__product-details">
                      <h3 class="product__title">{{ product.title }}</h3>
                      <span class="product__price-tag">{{ product.price | money }}</span>
                      {% form 'product', product %}
               <select name="id" id="ProductSelect-{{ product.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                      {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                          {{ variant.title }}
                        </option>
                      {% else %}
                        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                      {% endif %}
                    {% endfor %}
                   </select>
                   <button type="submit" class="button--small product__addtocart">Add to cart</button>
                 {% endform %}
                    </div>
                  </div>
                </div>
              	{% endfor %}
              </div>
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <ul class="pagination__list pagination-list">
                  {% if paginate.pages > 1 %}
                  	{{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                  {% endif %}
                </ul>
              </nav>
            </div>
          </section>
        </div>
  </div>
</section>
{% endif %}
{% endpaginate %}
{% if section.settings.enable_sale_section %}
<section class="block-add_sales">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-half-desktop is-full-mobile">
        <div class="sales-img">
           {% if section.settings.sale_1 %}
          <img src="{{ section.settings.sale_1 | img_url:'original' }}" alt="">
          {% endif %}
        </div>
      </div>
      <div class="column">
        <div class="sales-img">
          {% if section.settings.sale_2 %}
          	<img src="{{ section.settings.sale_2 | img_url:'original' }}" alt="">
          {% endif %}
        </div>
      </div>
      <div class="column">
        <div class="sales-img">
           {% if section.settings.sale_3 %}
            <img src="{{ section.settings.sale_3 | img_url:'original' }}" alt="">
           {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Collection Shop",
    "settings": [
		{
			"type":"header",
			"content": "Shop All"
		},
		{
			"type": "checkbox",
			"id": "enable_shop_section",
			"label": "Enable Shop Section?"
		},
		{
			"type": "checkbox",
			"id": "enable_sale_section",
			"label": "Enable Sale Section?"
		},
		{
			"type": "image_picker",
			"id": "sale_1",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "sale_2",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "sale_3",
			"label": "Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
