<section class="hero is-marginless is-paddingless has-text-centered has-text-white" style="background-image:url({{ section.settings.collection_banner | img_url:'original' }})">
  <div class="hero-body top-banner">
    <div class="container">
      <div class="hero-text">
        {% if section.settings.banner_title %}
        <h1 class="hero-text__title">
          {{ section.settings.banner_title }}
        </h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "collections",
    "settings": [
		{
			"type": "image_picker",
			"id": "collection_banner",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "banner_title",
			"label": "Title"
		}
	]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}


