<div class="c-navDrawer" data-mobile-drawer>
    <div class="c-navDrawer__content">
        <a href="#"  class="c-navDrawer__close" data-mobile-close>
            {% include 'icon-close' %}
        </a>

        {% if section.settings.mobile_nav_show_logo %}
            <a href="/" class="c-navDrawer__logo" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
                {% assign logo = section.settings.main_logo | img_url: '200x' %}
                <img src="{{ logo }}" alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_max_width }}px">
            </a>
        {% endif %}

        {% if settings.enable_currency_selector %}
          {% include 'currency-picker' %}
        {% endif %}

        <div class="c-navDrawer__scroll">
            <div clsss="c-navDrawer__menu">
                {% for block in section.blocks %}
                    {% if block.settings.menu_image != blank %}
                        <div class="c-navDrawer__item">
                            <a href="{{ block.settings.mobile-menu }}">
                                <img src="{{ block.settings.menu_image | img_url: 'original' }}" class="c-navDrawer__itemImage" alt="{{ block.settings.menuname }}">
                                <h6 class="c-navDrawer__itemName">{{ block.settings.menuname }}</h6>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if section.settings.mobile_nav_show_social_links %}
                <div class="c-navDrawerSocial__list">
                    {% if section.settings.social_icon_facebook %}
                        <a href="{{ settings.social_facebook_link }}" name="Facebook" title="Facebook" rel="nofollow" aria-label="Facebook">
                            {% include 'icon-facebook' %}
                        </a>
                    {% endif %}

                    {% if section.settings.social_icon_twitter %}
                        <a href="{{ settings.social_twitter_link }}" name="Twitter" title="Twitter" rel="nofollow" aria-label="Twitter">
                            {% include 'icon-twitter' %}
                        </a>
                    {% endif %}

                    {% if section.settings.social_icon_youtube %}
                        <a href="{{ settings.social_youtube_link }}" name="youtube" title="youtube" rel="nofollow" aria-label="youtube">
                            {% include 'icon-youtube' %}
                        </a>
                    {% endif %}

                    {% if section.settings.social_icon_googleplus %}
                        <a href="{{ settings.social_googleplus_link }}" name="Google+" title="Google+" rel="nofollow" aria-label="Google+">
                            {% include 'icon-plus' %}
                        </a>
                    {% endif %}

                    {% if section.settings.social_icon_instagram %}
                        <a href="{{ settings.social_instagram_link }}" name="Instagram" title="Instagram" rel="nofollow" aria-label="Instagram">
                            {% include 'icon-instagram' %}
                        </a>
                    {% endif %}
                </ul>
            {% endif %} 
        </div>
        
        
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Mobile Navigation",
    "settings": [
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "checkbox",
            "id": "mobile_nav_show_logo",
            "label": "Show Logo?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "main_logo",
            "label": "Select Image"
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "min": 5,
            "max": 300,
            "step": 5,
            "unit": "px",
            "label": "Logo width",
            "default": 180
        },
        {
            "type": "header",
            "content": "Social Networks"
        },
        {
            "type": "checkbox",
            "id": "mobile_nav_show_social_links",
            "label": "Show Socials?",
            "default": true
        },
        {
            "type": "paragraph",
            "content": "Select Networks"
        },
        {
            "type": "checkbox",
            "id": "social_icon_facebook",
            "label": "Facebook",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_icon_twitter",
            "label": "Twitter",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_icon_youtube",
            "label": "Youtube",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_icon_googleplus",
            "label": "Google+",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_icon_instagram",
            "label": "Instagram",
            "default": true
        }
    ],
    "blocks": [
      {
        "type": "select",
        "name": "Add Mobile Menu",
        "settings": [
            {
                "id": "mobile-menu",
                "type": "url",
                "label": "Select Menu"
            },
            {
                "id": "menuname",
                "type": "text",
                "label": "Menu Text"
            },
            {
                "type": "image_picker",
                "id": "menu_image",
                "label": "Menu image"
            }
        ]
      }
    ]
  }
{% endschema %}