
{% if section.settings.enable_breadcrumb_section %}
<section class="product-breadcrumb">
  <section class="breadcrumbs-nav">
    <div class="container">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul class="breadcrumb-list">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">shop ></a></li>
          <li class="breadcrumb__item is-active"><a class="breadcrumb__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a></li>
        </ul>
      </nav>
    </div>
  </section>
</section>
{% endif %}
<section class="product-block">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths-desktop">
        <div class="columns slider-product reverse-column is-mobile is-multiline">
          <div class="column is-one-quarter-desktop is-one-quarter-tablet is-full-mobile">
            <div class="thumbnails ">
              <ul class="slider-nav">
                {% for image in product.images %}
                <li class="" data=src="{{ image.src | img_url: 'pico' }}">
                  <a href="#"> 
                    <img src="{{ image.src | img_url: 'compact' }}" width="106" height="106" alt="image description" />
                  </a>
                </li>
              	{% endfor %}
              </ul>
            </div>
          </div>
          <div class="column is-three-quarters-desktop is-three-quarters-tablet is-full-mobile">
            
            <div class="larg-img slider-for ">
              {% for image in product.images %}
              	<div class="main-image">
              	 <img src="{{ image.src | img_url: 'master' }}" width="539" height="539" alt="image description" />
              	</div>	
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="product-guide">
          <h2 class="title">{{ product.title }}</h2>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          <div class="product-guide__price price-update">{{ product.price | money }}</div>
         <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
         
            {% if product.variants.size > 1 %}
                {% include 'swatch' for product.options as swatch %}
            {% endif %}
            <select  style="display:none;"  name="id" id="product-select" data-productid="{{ product.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="product-qty" data-qtyContainer>
              <label class="text-uppercase">Quantity :</label>
              <div class="pro-qty-div">
                    <button class="minus-btn qty-btn qty-btns rounded-left" data-direction="-1">-</button>
                    <input class="quntity-input qty-input text-center" type="text" name="quantity" id="quantity"
                      data-qty readonly value="1" min="1">
                    <button class="plus-btn qty-btn qty-btns rounded-right" data-direction="1">+</button>
              </div>
            </div>
            <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
             <button type="submit" name="add" id="AddToCart" class="btn btn-all">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            </div>
            
            
          </form>
          {% if section.settings.enable_trust_badges %}
          <div class="trusted_briges">
            <img src="{{ section.settings.bridge_img | img_url:'original' }}" alt="">
          </div>
          {% endif %}
          {% comment %}
          <div class="accordion">
            <ul class="accordion__list">
              <li class="accordion__item"><a class="accordion__link" href="">description <span class="plus">+</span></a></li>
              <li class="accordion__item"><a class="accordion__link" href="">size guide <span class="plus">+</span></a></li>
              <li class="accordion__item"><a class="accordion__link" href="">model size <span class="plus">+</span></a></li>
            </ul>
          </div>
          {% endcomment %}
        </div>

      </div>
    </div>
  </div>
</section>

<script>
  var selectCallback = function(variant, selector) {
                    {% if product.variants.size == 1 or product.variants.first.title contains 'Default' %}
                      $('.selector-wrapper').hide();
                     {% endif %}
                
                   $('.price-update').html(Shopify.formatMoney(variant.price, "{{shop.money_without_currency }}")); 
                        if($('input[type=radio]:checked').val()){
                           $('.slider-for').slick('slickGoTo', variant.featured_image.position-1);
                  }

                   if (variant) {
                        var form = jQuery('#' + selector.domIdPrefix).closest('form');
                        for (var i=0,length=variant.options.length; i<length; i++) {
                          var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                          if (radioButton.length>0) {
                            radioButton.get(0).checked = true;
                          }
                        }
                    }
                                       
     };
  jQuery(function($) {
    new Shopify.OptionSelectors("product-select", { 
      product: {{ product | json }},
      history: true,
      onVariantSelected: selectCallback
    });
  });
</script>
{% if settings.enable_shopify_review_comments %}
<section class="product-review-section">
  <div class="container">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Product",
    "settings": [
		{
			"type": "header",
			"content": "Breadcrumb Section"
		},
		{
			"type": "checkbox",
			"id": "enable_breadcrumb_section",
			"label": "Enable Breadcrumb Section?"
		},
		{
			"type": "checkbox",
			"id": "enable_product_detail_section",
			"label": "Enable Product Detail Section?"
		},
    {
			"type": "header",
			"content": "Trust Badges"
		},
    {
			"type": "checkbox",
			"id": "enable_trust_badges",
			"label": "Enable Trust Badges"
		},
    {
			"type": "image_picker",
			"id": "bridge_img",
			"label": "Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
