{% if section.settings.enable_banner_section %}
<section class="hero has-text-centered has-text-white shipping" >
  <div class="hero-body shipping-banner">
    <div class="container">
      <div class="hero-text">
        {% if section.settings.banner_title %}
        <h1 class="hero-text__title has-text-black">
          {{ section.settings.banner_title }}
        </h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_content_section %}
 <section class="content-block">
   <div class="container">
     <div class="columns is-centered">
       <div class="column is-four-fifths-desktop has-text-centered text-block">
         {% if section.settings.content %}
         <p>{{ section.settings.content }}</p>
       	 {% endif %}
       </div>
     </div>
   </div>
</section>
{% endif %}
{% if section.settings.enable_shipping_estimate %}
<section class="shipping-tabs">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds-desktop">
        <form action="" id="shipping-form">
          <div class="form-field">
            <input type="text" name="" id="" placeholder="full name">
          </div>
          <div class="form-field">
            <input type="text" name="" id="" placeholder="address">
          </div>
          <div class="form-field">
            <select class="select-css" name="" id="">
              <option value="">cart total <span>above $75</span></option>
            </select>
          </div>
          <div class="form-field">
            <select class="select-css" name="" id="">
              <option value="">email address</option>
            </select>
          </div>
          <div class="get-estimate has-text-centered">
            {% if section.settings.button %}
            <button class="button button--black">{{ section.settings.button }}</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_delivery_section %}
 <section class="hero has-text-centered has-text-white deliver">
   <div class="hero-body deliver-banner">
     <div class="container">
       <div class="hero-text has-text-white">
         {% if section.settings.delivery_title %}
         <h1 class="hero-text__title has-text-white">
           {{ section.settings.delivery_title }}
         </h1>
         {% endif %}
         {% if section.settings.delivery_content %}
         <h2 class="hero-text__subtitle">{{ section.settings.delivery_content }}</h2>
       	 {% endif %}
       </div>
     </div>
   </div>
</section>
{% endif %}
{% if section.settings.enable_safe_section %}
<section class="safe-shipping">
  <div class="container">
    {% if section.settings.safe_title %}
    <h2 class="has-text-centered">{{ section.settings.safe_title }}</h2>
    {% endif %}
    <div class="columns is-centered">
      <div class="column is-four-fifths-is-desktop">
        <div class="columns is-centered is-vcentered is-mobile is-multiline">
          {% for block in section.blocks %}
          {% if block.type == 'safe-shipping-section' %}
          <div class="column is-one-third-mobile">
            <div class="icon-wrap">
              <img src="{{ block.settings.safe_shipping_img | img_url: 'original' }}" alt="{{ block.settings.safe_shipping_title }}">
            </div>
            <span>{{ block.settings.safe_shipping_title }}</span>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if section.settings.enable_secure_section %}
<section class="secure-shipping">
  <div class="container">
    {% if section.settings.secure_title %}
    <h2 class="has-text-centered">{{ section.settings.secure_title }}</h2>
    {% endif %}
    <div class="columns is-centered">
      <div class="column is-three-fifths-desktop">
        <div class="columns is-centered is-vcentered is-mobile">
          {% for block in section.blocks %}
          {% if block.type == 'secure-shipping-section' %}
          <div class="column is-one-quarter-mobile">
            <div class="icon-wrap">
              <img src="{{ block.settings.secure_shipping_img | img_url: 'original' }}" alt="logo fedex">
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Shipping Page",
    "settings": [
		{
			"type": "header",
			"content": "Banner Section"
		},
		{
			"type": "checkbox",
			"id": "enable_banner_section",
			"label": "Enable Banner Section?"
		},
		{
			"type": "text",
			"id": "banner_title",
			"label": "Title"
		},
		{
			"type": "header",
			"content": "Content Section"
		},
		{
			"type": "checkbox",
			"id": "enable_content_section",
			"label": "Enable Content Section?"
		},
		{
			"type": "textarea",
			"id": "content",
			"label": "Content"
		},
		{
			"type": "header",
			"content": "Shipping Estimate"
		},
		{
			"type": "checkbox",
			"id": "enable_shipping_estimate",
			"label": "Enable Shipping Estimate?"
		},
		{
			"type": "text",
			"id": "button",
			"label": "Button"
		},
		{
			"type": "header",
			"content": "Delivery Banner"
		},
		{
			"type": "checkbox",
			"id": "enable_delivery_section",
			"label": "Enable Delivery Section?"
		},
		{
			"type": "text",
			"id": "delivery_title",
			"label": "Title"
		},
		{	
			"type": "textarea",
			"id": "delivery_content",
			"label": "Add Content"
		},
		{
			"type": "header",
			"content": "Safe Shipping"
		},
		{
			"type": "checkbox",
			"id": "enable_safe_section",	
			"label": "Enable Safe Shipping?"
		},
		{
			"type":"text",
			"id": "safe_title",
			"label": "Title"
		},
		{
			"type": "header",
			"content": "Secure Shipping"
		},
		{
			"type": "checkbox",
			"id": "enable_secure_section",
			"label": "Enable Secure Section?"
		},
		{
			"type": "text",
			"id": "secure_title",
			"label": "Title"
		}
	],
	"blocks":[
		{
			"type": "safe-shipping-section",
			"name": "Safe Shippng Section",
			"settings":[
				{
					"type": "image_picker",
					"id": "safe_shipping_img",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "safe_shipping_title",
					"label": "Title"
				}
			]
		},
		{
			"type": "secure-shipping-section",
			"name": "Secure Shippng Section",
			"settings":[
				{
					"type": "image_picker",
					"id": "secure_shipping_img",
					"label": "Image"
				}
			]
		}
	]
	
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
