{% if section.settings.collection_header_enable %}
<section class="hero is-marginless is-paddingless has-text-centered has-text-white" 
style="background-image:url('{{ section.settings.collection_banner | img_url : 'original' }}')">
{% comment %} <img src="{{ section.settings.collection_banner_mobile | img_url : 'original' }}" class="show-mobile" alt="image description"> {% endcomment %}
    <div class="hero-body top-banner">
        <div class="container">
            <div class="hero-text">
                <h1 class="hero-text__title">
                  {{ collection.title }}
                </h1>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="color_slider_div">
    <div class="container">    
      <div class="main_button_div">
          <ul class="main_button_ul">
        {% for block in section.blocks  %}
            {% if block.type == "color"  %}
                <li class="cate_color_li {% if current_tags contains block.settings.color %} active_color{% endif %}">{{ block.settings.color }}
                <input type="radio" name="color" value="{{ block.settings.color }}" class="coll-filter" {% if current_tags contains block.settings.color %}checked{% endif %}>
                </li>
                {% endif %}
            {% endfor %}
          </ul>
          <div class="color_slider_eliment color_Slider">
            {% for block in section.blocks  %}
                {% if block.type == "color_img"  %}
                    <div class="div_color_box">
                        <div class="color_swatch">
                            <img src="{{ block.settings.clr_img | img_url:'original' }}" alt="">
                            <input type="radio" name="img_color" value="{{ block.settings.clr_name }}" class="coll-filter" {% if current_tags contains block.settings.clr_name %}checked{% endif %}>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
</section>


<section class="main_product_div">
  <div class="container">
      <div class="title_div">
        <h2 class="is-uppercase has-text-centered">AISHVARY</h2>
        {% comment %} <div class="fillter_div_color">
            <label>Fillter |<label>
            <ul class="fillter_main_ul">
              <li></li>
            </ul>
        </div> {% endcomment %}
      </div>
      <div class="block-products-new">
          <div class="columns  is-mobile is-multiline allproducts">
          {% paginate collection.products by 12 %}
            {% for product in collection.products %}
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="{{ product.url }}">
                          <div class="product__img-wrap">
                              <img src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.title }}">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="{{ product.url }}"><h3 class="product__title">{{ product.title }}</h3></a>
                            <span class="product__price-tag">{{ product.price | money }}</span>
                            {% form 'product', product, data-productid: product.id %}
                            <!-- Begin ReCharge code -->
                            {% if product.available %}{% include 'subscription-product' %}{% endif %}
                            <!-- End ReCharge code -->
                                {% if product.available %}
                                    <button type="submit" data-cart-add="{{ current_variant.id }}" class="button--small product__addtocart">add to cart</button>
                                {% else if %}
                                    <button type="button" class="button--small product__addtocart">SOLD OUT</button>
                                {% endif %}
                            {% endform %}
                      </div>
                  </div>
              </div>  
            {% endfor %}
        {% if paginate.next %}
            <div class="col-12" id="more">
                <p>
                    <a href="{{ paginate.next.url }}" class="btn-show-more m-auto">Show More</a>
                </p>
            </div>
        {% endif %}
        {% endpaginate %}
              {% comment %} <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div>
              <div class="column is-one-quarter-desktop is-half-mobile">
                  <div class="product">
                      <a href="#">
                          <div class="product__img-wrap">
                              <img src="//cdn.shopify.com/s/files/1/0273/4928/6960/products/H065fbee805504b08b8e93cce306681f_1024x1024.jpg?v=1578641829" alt="Women Florals Printing Denim Pants Full Length">
                          </div>
                      </a>
                      <div class="product__product-details">
                          <a href="#"><h3 class="product__title">Women Florals Printing </h3></a>
                          <span class="product__price-tag">$21.98</span>
                          <button type="submit" class="button--small product__addtocart">add to cart</button>
                      </div>
                  </div>
              </div> {% endcomment %}
          </div>
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Shop By Color",
    "settings": [
        {
          "type" : "header",
          "content" : "Collection Layout"
        },
        {
          "type" : "checkbox",
          "id" : "collection_header_enable",
          "label" : "Collection Banner",
          "default" : false
        },
        {
          "type" : "image_picker",
          "id" : "collection_banner",
          "label" : "Collection Banner Image"
        },
        {
          "type" : "image_picker",
          "id" : "collection_banner_mobile",
          "label" : "Collection Banner Image Mobile"
        }
	],
    "blocks":[{
                "type" : "color",
                "name" : "Color",
                "settings" : [
                    {
                        "type" : "text",
                        "id" : "color",
                        "label" : "Color Name"
                    }
                ]
            },
            {
                "type" : "color_img",
                "name" : "color Image",
                "settings" : [
                    {
                        "type" : "image_picker",
                        "id" : "clr_img",
                        "label" : "Image"
                    },
                    {
                        "type" : "text",
                        "id" : "clr_name",
                        "label" : "Color Name"
                    }
                ]
            }
            ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}