{% schema %}
  {
    "name": "Shop",
    "settings": [
		{
			"type": "header",
			"content": "Shop Banner"
		},
		{
			"type": "checkbox",
			"id": "enable_banner_section",
			"label": "Enable Banner Section?"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
