{% if section.settings.enable_sec %}
    <section class="slider_section_dis">
        <div class="container">
            <div class="main_slider_inner">
                <div class="nav-slider">
                    {% for block in section.blocks %}
                    <div class="nav_item">
                        <p>{{ block.settings.nav_txt }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="main-slider">
                    {% for block in section.blocks %}
                    <div class="main_slide_item slider_main_{{forloop.index}}">
                        <img class="bg-image" src="{{ block.settings.bg_img | img_url:'original' }}" alt="">
                        <div class="content_div_slider">
                            <h3>{{ block.settings.head_txt }}</h3>
                            <p>{{ block.settings.contnt_txt }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
   
    <script>
        $(document).ready(function(){
             $('.main-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows:false,
                fade: true,
                asNavFor: '.nav-slider',
                responsive: [
                    {
                      breakpoint: 600,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: true
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: true
                      }
                    }
                ]
              });
              $('.nav-slider').slick({
                slidesToShow: {{ section.settings.txt_count }},
                slidesToScroll: 1,
                asNavFor: '.main-slider',
                dots: false,
                centerMode: true,
                focusOnSelect: true
              });
        });
    </script>
{% endif %}

{% schema %}
 {
    "name": "Slider Section",
    "settings": [
        {
            "type":"checkbox",
            "id": "enable_sec",
            "label": "Enable Section?"
        },
        {
            "type":"header",
            "content": "Slide Count"
        },
        {
            "type": "text",
            "id": "txt_count",
            "label": "Slide Number"
        }
	],
    "blocks":[
		{
			"name": "Slide Box",
			"type": "slide-box",
			"settings":[
				{
                    "type": "text",
                    "id": "nav_txt",
                    "label": "Nav Text"
                },
                {
                    "type": "image_picker",
                    "id": "bg_img",
                    "label": "Background Image"
                },
                {
                    "type": "text",
                    "id": "head_txt",
                    "label": "Heading Text"
                },
                {
                    "type": "textarea",
                    "id": "contnt_txt",
                    "label": "Content Text"
                }
			]
		}
	],
    "presets":[
        {
            "name" : "Slider Section",
            "category" : "Homepage"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}