{% if section.settings.enable_sec %}
<section class="custome_tab">
    <div class="container">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Description</li>
            <li class="tab-link" data-tab="tab-2">Reviews</li>
        </ul>

        <div id="tab-1" class="tab-content current">
            {{ product.description }}
        </div>
        <div id="tab-2" class="tab-content">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
        
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Tab Custome",
    "settings": [
        {
          "type" : "checkbox",
          "id" : "enable_sec",
          "label" : "Enable Section?"
        }
	]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}