{% if section.settings.enable_banner_section %}
<section class="hero has-text-centered has-text-white shipping terms-con" style="background-image:url('{{ section.settings.bg_img | img_url:'original' }}');">
  <div class="hero-body tc-banner">
    <div class="container">
      <div class="hero-text">
        {% if section.settings.title %}
        <h1 class="hero-text__title  is-pulled-right">
          {{ section.settings.title }}
        </h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
 <section class="policy">
   <div class="container">
     <div class="columns is-centered">
       <div class="column is-four-fifths"><div class="single-text-block">
         {% if section.settings.terms_title %}
         <h1>{{ section.settings.terms_title }}</h1>
         {% endif %}
         {% if section.settings.terms_text %}
         	{{ section.settings.terms_text }}
         {% endif %}
         </div></div>
     </div>

   </div>
</section>
{% schema %}
  {
    "name": "Terms And Conditions",
    "settings": [
		{
			"type": "header",
			"content": "Banner Section"
		},
		{
			"type": "checkbox",
			"id": "enable_banner_section",
			"label": "Enable Banner Section?"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},	
		{
			"type": "image_picker",
			"id": "bg_img",
			"label": "Banner Image"
		},
		{
			"type": "header",
			"content": "Terms and Conditions"
		},
		{
			"type": "text",
			"id":"terms_title",
			"label": "Policy Title"
		},
		{
			"type": "textarea",
			"id": "terms_text",
			"label": "Add Text"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
