
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@font-face {
  font-family: 'bebas_neueregular';
  src: url("https://cdn.shopify.com/s/files/1/0242/4229/0740/files/bebasneue-regular-webfont.woff2?4705") format("woff2"), 
        url("https://cdn.shopify.com/s/files/1/0242/4229/0740/files/bebasneue-regular-webfont.woff?4706") format("woff");
  font-weight: normal;
  font-style: normal; }

