// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #666;
$black: #000;
$white: #fff;

$royal-blue: #3a85eb;
$mercury : #e8e8e8;
$mid-gray:#636363;
$light-gray:#555;
$dark-gray:#363636;
$input-bg:#ececec;
$footer-border:#d9d9d9;
$light-pink:#ffd2f4;
$chatbox-bg:#f5f5f5;
$pink:#ff8ee3;
$color-white: #ffffff;

$base-font-sans-serif:"Montserrat",'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: "bebas_neueregular", 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $royal-blue;

// Buttons
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;
